body{
    background-color: var(--neutral-09);
    color: var(--text);
}

.page{
    width: 100%;
    padding:24px;
}

h1{
    margin: 0 0 4px;
    font-size: 22px;
}

.subtitle{
    color: var(--neutral-01);
    font-size: 14px;
}

.cabeceraPagina{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;

}

.botonAgregarPatrocinador{
    background-color: var(--primary-02);
    color: var(--neutral-09);
    border:none;
    border-radius:8px;
    padding:8px 16px;
    font-size:14px;
    cursor: pointer;
    margin-top: 8px;
}

.botonAgregarPatrocinador:hover{
    background-color: var(--primary-03);
}

.cardPatrocinador{
    width:100%;
    display: flex;
    flex-direction: column;
    border:solid 1px var(--neutral-05);
    border-radius:8px;
    margin-top:40px;
    background-color: var(--neutral-07);
    border: solid 1px var(--neutral-01);
    overflow: hidden;
}

.bodyCardPatrocinador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding: 16px;
    position: relative;
}

.iconosPatrocinador{
    position: absolute;
    top: 16px;
    right: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.iconoEditarPatrocinador{
    width:16px;
    height:16px;
    position: relative;
    cursor: pointer;
    mask-image: url('../img/icon/PencilIcon.svg');
    background-color: var(--neutral-01);
    mask-repeat: no-repeat;
    mask-size: contain;
    display: inline-block;
}
.iconoBorrarPatrocinador{
    width:16px;
    height:16px;
    position: relative;
    cursor: pointer;
    mask-image: url('../img/icon/TrashIcon.svg');
    background-color: var(--primary-03);
    mask-repeat: no-repeat;
    mask-size: contain;
    display: inline-block;
}

.img{
    width: 100%;
    max-height:152px;
    max-width: 200px;
}

.footerCardPatrocinador{
    background-color: var(--neutral-09);
    padding:8px;
    text-align: center;
    border-top:solid 1px var(--neutral-01);
}

@media (min-width: 768px){
    .cabeceraPagina{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cardPatrocinador{
        width:368px;
    }

    .cardsContainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
        flex-wrap: wrap;
        flex: 1;
        gap: 40px;
    }
}