.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 96px;
}

@media (min-width: 992px) {
    .page-content{
        margin: 32px 216px;
    }
}
.header-noticia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:100%;
    margin: 32px 0;
}

.noticia-header{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.icon-casa{
    width: 12px;
    height: 12px;
    mask-image: url("../img/icon/icon-house.svg");
    mask-size: cover;
    background-color: var(--neutral-01);
    cursor:pointer;
}

.noticias{
    cursor:pointer;
}

.noticia-title-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    width:100%;
    gap:16px;
}

.noticia-title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: var(--neutral-01);
    line-height: 50px;
}

.icon-calendario-fecha{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    font-size: 16px;
    color: var(--neutral-03);
    width:100%;
}
.icon-calendario{
    width: 16px;
    height: 16px;
    mask-image: url("../img/icon/icon-calendar.svg");
    mask-size: cover;
    background-color: var(--primary-03);
}

.linea-separacion{
    width:100%;
    border: 0.5px solid var(--neutral-05);
    margin-bottom:32px;
}

.img-descrpcion{
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.img-noticia-detailed{
    width:100%;
    object-fit: cover;
    height: auto;
}

@media (min-width: 992px) {
    .img-noticia-detailed{
        padding: 0 216px;
        object-fit: cover;
    }
}

.noticia-description{
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-02);
    line-height: 24px;
}

@media (min-width: 992px) {
    .noticia-description{
        padding: 0 216px;
    }
}