.header-eventos{
    min-height:296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:24px;
    background-image: url("../img/eventos-universidad-europea.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-color{
    position: absolute;
    width: 100%;
    height: 296px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 84;
    z-index: 1;
}

.title-header{
    font-size: 4rem;
    color:var(--neutral-09);
    z-index: 2;
}

.redirect-home{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:4px;
    text-decoration:none;
    z-index:2;
    width:auto;
    height: auto;
    color:var(--neutral-09);
    position: absolute;
    top:352px;
}
.icon-home{
    width:16px;
    height:16px;
    mask-image: url("../img/icon/icon-house.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    cursor: pointer;
    background-color: var(--neutral-09);
    cursor:pointer;
}

.text{
    font-size:16px;
    font-weight: 300;
}

.all-events{
    margin:32px 0 16px 32px;
}
.title{
    font-size: 24px;
    font-weight: 600;
}

/*Listado de eventos*/

.events-list {
    position:relative;
    padding: 0 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
}

.event-post{
    width:100%;
    margin:8px 0;
    padding:0;
    box-shadow: var(--shadow-01);
}

.event-post:hover{
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

@media (min-width: 768px) {
    .event-post{
        width:33.333333%;
        position:relative;
        padding:10px;
        transition: .2s ease-in-out;
    }
}

.img-evento{
    width:100%;
    height: 202px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.event-post-content{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.event-icon-hora{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:8px 32px 8px 32px;
    gap:4px;
}

.event-icon{
    width:24px;
    height:24px;
    mask-image: url("../img/icon/icon-time.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--neutral-01);
}

.event-hora{
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-01);
}

.event-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--neutral-01);
    margin:0 32px 32px 32px;
}
