.pre-evento{
    display:flex;
    flex-direction: column;

    gap:40px;
}

.btn-calendario{
    z-index:2;
}

.pre-evento-header{
    justify-content: center;
    gap: 24px;
}

.pre-evento-info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:24px;
}

.bloque1{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 245px;
    height: 164px;
    background-color: var(--primary-03);
    position: absolute;
    left: -162px;
    top: 0px;
}

.pre-evento-title{
    font-weight: 600;
    font-size: 49px;
    line-height: 120%;
    color: var(--neutral-01);
}

.pre-evento-subtitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--neutral-01);
}

.icon-text-calendario{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.icon-calendario{
    width:24px;
    height:24px;
    mask-image: url("../img/icon/icon-calendar.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--neutral-01);
}

.text-calendario{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--neutral-01);
}

.icon-text-ubicacion{
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-ubicacion{
    width:24px;
    height:24px;
    mask-image: url("../img/icon/icon-location.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--neutral-01);
}

.text-ubicacion{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--neutral-01);
}

.bloque2{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
   width: 245px;
    height: 164px;
    background-color: var(--primary-03);
    position: absolute;
    right:72px;
    bottom:-25px;
    rotate: 180deg;
    z-index:1;
}

.pre-evento-video{
    display:flex;
    flex-direction: column;
    gap:24px;
    position:relative;
    z-index:2;
}

.video-container{
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index:2;
}

.pre-evento-video-text{
    font-size: 31px;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    justify-content: flex-end;
    color: var(--neutral-01);
    z-index:2;
}

.video-gala{
    width:429px;
    height:286px;
}

.bloque3{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 245px;
    height: 164px;
    background-color: var(--primary-03);
    position: absolute;
    left:23px;
    top: 26px;
    transform: rotateX(180deg);
}

.bloque4{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 245px;
    height: 164px;
    background-color: var(--primary-03);
    position: absolute;
    left:489px;
    bottom: 59px;
    transform:rotateZ(90deg) rotateX(180deg);
    z-index:1;
}

.agenda-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.agenda-container-text{
    font-size: 39px;
    font-weight: 600;
    line-height: 120%;
    color: var(--neutral-01);
}

.evento-nombre-ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:16px;
}

.linea-puntos{
    transform: rotateZ(90deg);
    margin-bottom:40px;
}

.hora-evento{
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: var(--neutral-01);
    width:100%;
    padding-bottom:88px;
}

.hora-puntitos{
    width: 100%;
}

.nombre-evento{
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: var(--neutral-01);
}

.descripcion-evento{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: var(--neutral-01);
    white-space: normal;
}

.icon-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.icon-ubicacion{
    width:16px;
    height:16px;
    mask-image: url("../img/icon/icon-location.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--neutral-02);
}

.ubicacion-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    color: var(--neutral-02);
}




















/* .carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
}

.carousel-track-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease;
}

.carousel-item {
    min-width: 100%;
    height: 200px;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.carousel-btn {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 8px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: var(--primary-03);
}

.prev:hover{
    color: var(--primary-03);
}

.next:hover{
    color: var(--primary-03);
} */