.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    border-bottom: 1px solid var(--neutral-05);
}

@media (min-width: 480px) {
    .header-container {
        padding: 8px 48px;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding: 8px 32px;
    }
}

@media (min-width: 1200px) {
    .header-container {
        padding: 8px 64px;
    }
}

@media (min-width: 1400px) {
    .header-container {
        padding: 8px 128px;
    }
}

.icon-menu-bards-container {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid transparent;
    transition: all 300ms ease;
    cursor: pointer;
}

@media (min-width: 992px) {
    .icon-menu-bards-container {
        display: none;
    }
}

.header-logo-container{
    cursor: pointer;
}

.header-logo-image{
    width: 65px;
    height: auto;
}

.header-buttons-desktop-container {
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex: 1;
}

@media (min-width: 992px) {
    .header-buttons-desktop-container {
        display: flex;
    }
}

.header-base-button{
    position: relative;
    width: auto;
    padding: 8px 32px;
    background-color: var(--neutral-09);
    font-weight: normal;
    transition: all 300ms ease;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
}

.header-base-button:hover:after{
    content: "";
    width: 7px;
    height: 7px;
    background-color: var(--primary-03);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.header-base-button:hover{
    font-weight: 500;
}

.header-base-button-responsive-font-size{
    font-size: 12px;
}

@media (min-width: 992px) {
    .header-base-button-responsive-font-size{
        font-size: 10px;
    }
}

@media (min-width: 1100px) {
    .header-base-button-responsive-font-size{
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .header-base-button-responsive-font-size{
        font-size: 16px;
    }
}
