.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    border-bottom: 1px solid var(--neutral-05);
}

@media (min-width: 480px) {
    .header-container {
        padding: 8px 48px;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding: 8px 32px;
    }
}

@media (min-width: 1200px) {
    .header-container {
        padding: 8px 64px;
    }
}

@media (min-width: 1400px) {
    .header-container {
        padding: 8px 128px;
    }
}


.icon-menu-bars {
    width: 48px;
    height: 48px;
    background-color: var(--neutral-03);
    mask-image: url('../img/icon/MenuBarsIcon.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
    border-radius: 5px;
}

.icon-menu-bars:hover {
    background-color: var(--neutral-02);
}

.icon-menu-bards-container {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 300ms ease;
    cursor: pointer;
}

@media (min-width: 992px) {
    .icon-menu-bards-container {
        display: none;
    }
}

.icon-menu-bards-container:hover {
    border-color: var(--neutral-04);
}

.icon-menu-bards-container:hover .icon-menu-bars {
    background-color: var(--neutral-02);
}

.header-logo-container{
    cursor: pointer;
}

.header-logo-image{
    width: 85px;
    height: auto;
    border-radius: 50%;
}

.header-buttons-desktop-container {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 0;
}

@media (min-width: 992px) {
    .header-buttons-desktop-container {
        display: flex;
    }
}

.header-button{
    width: auto;
    padding: 8px 32px;
    border-radius: 32px;
    background-color: var(--neutral-09);
    font-size: 12px;
    font-weight: 600;
    transition: background-color 300ms ease;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .header-button{
        font-size: 16px;
        font-weight: normal;
    }
}

.header-button:hover {
    background-color: var(--neutral-07);
    outline: 1px solid var(--neutral-05);
    color: var(--neutral-01);
}

.header-primary-action-button{
    background-color: var(--primary-03);
    color: var(--neutral-09);
}

.header-primary-action-button:hover {
    background-color: var(--neutral-09);
    outline: 1px solid var(--primary-03);
    color: var(--primary-03);
}

.header-secondary-action-button{
    background-color: var(--neutral-02);
    outline: 1px solid var(--neutral-02);
    color: var(--neutral-09);
}

.header-secondary-action-button:hover {
    background-color: var(--neutral-09);
    outline: 1px solid var(--neutral-02);
    color: var(--neutral-02);
}