.solid-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.solid-input-field {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--neutral-04);
    padding: 24px 32px 8px 0;
    outline: none;
    transition: border-color 0.2s ease;
    border-radius: 0;
    font-size: 16px;
    color: var(--neutral-01);
}

.solid-input-field:disabled {
    border-bottom: 1px dotted var(--neutral-04);
    color: var(--neutral-04);
    cursor: not-allowed;
}

.solid-input-field.is-textarea {
    resize: vertical;
}

.solid-input-label {
    position: absolute;
    top: 24px;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    transform-origin: left top;
    line-height: 1;
    z-index: 2;
}

.solid-input-icon-container {
    position: absolute;
    right: 0;
    top: 20px;
    pointer-events: none;
}


.solid-input-container.is-focused .solid-input-field {
    border-bottom: 1px solid var(--neutral-01);
}

.solid-input-container.is-focused .solid-input-label,
.solid-input-container.has-value .solid-input-label {
    transform: translateY(-20px) scale(0.85);
    color: var(--neutral-01);
}

.solid-input-container.state-error .solid-input-field {
    border-bottom: 2px solid var(--error-02);
    color: var(--error-02);
}

.solid-input-container.state-error .solid-input-label {
    color: var(--error-02);
}

.solid-input-error-text {
    margin-top: 4px;
    font-size: 12px;
}

.solid-input-container.variant-textarea {
    padding-top: 20px;
    min-height: 120px;
}

.solid-input-container.variant-textarea .solid-input-label{
    top: 45px;
    background: transparent;
}

.solid-input-container.variant-textarea .solid-input-field {
    height: 100px;
    padding-top: 10px;
    padding-right: 40px;
    z-index: 1;
    overflow-y: auto;
}

.solid-input-container.is-disabled .solid-input-label {
    background: transparent;
}

.solid-input-container.variant-textarea .solid-input-icon-container {
    top: 35px;
    right: 12px;
    z-index: 3;
}

.solid-input-container.variant-textarea.is-focused .solid-input-label,
.solid-input-container.variant-textarea.has-value .solid-input-label {
    top: 5px;
    transform: scale(0.85);
    color: var(--neutral-01);
}

.solid-select-field {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    cursor: pointer;
    padding-right: 30px;
}

.solid-select-field:focus,
.solid-select-field:active {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--neutral-01) !important;
    background-color: transparent !important;
}

.solid-input-container.state-error .solid-select-field {
    border-bottom: 1px solid var(--neutral-04) !important;
    color: var(--neutral-01) !important;
}


.solid-input-field.is-textarea::-webkit-scrollbar {
    width: 6px;
}

.solid-input-field.is-textarea::-webkit-scrollbar-track {
    background: transparent;
}

.solid-input-field.is-textarea::-webkit-scrollbar-thumb {
    background: var(--neutral-04);
    border-radius: 10px;
}

.solid-input-field.is-textarea::-webkit-scrollbar-thumb:hover {
    background: var(--neutral-01);
}