*{
    box-sizing: border-box;
}

ul{
    list-style: none;

}

.cabeceraMenuLateral{
    display: flex;
    flex-direction: row;
    padding: 8px 0px 8px 8px;
    width: 17rem;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid var(--neutral-07);
}
@media (min-width: 990px){
    .cabeceraMenuLateral{
        padding: 8px 0px 8px 8px;

    }
}
.cabeceraIcono{
    width: 40px;
    height: 40px;
    background-color: var(--neutral-01);
    align-items: center;
}

.cabeceraMenuLateral h1{
    font-size: 20px;
    color: var(--neutral-01);
}

/*Menu lateral*/
.menuLateral{
    height: 100vh;
    width:17rem;
}

.menuLateral ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gala{
    background-color: var(--neutral-05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuGala ul{
    padding-top:0px;
    padding-left:24px;
}


/*Menu lateral responsive*/

#checkMenu{
    display:none;
}

.menuLateralCompleto{
    min-height: 100vh;
    z-index: 1000;
    background-color: var(--neutral-09);
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: var(--shadow-01);
}

@media (max-width: 992px){

    .responsiveMenuAdmin{
        position: fixed;
        width:100%;
        background-color: var(--neutral-09);
    }


    .cabeceraMenuLateral{
        width: 100%;
    }

    .menuLateralCompleto {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 55px;
    }

    .menuLateral{
        width: 100%;
    }

    .iconoMenuEscondido{
        width:56px;
        height:56px;
    }

    .iconoMenuHamburguesa{
        width:40px;
        height:40px;
        background-color: var(--neutral-09);
        mask-image: url('../img/icon/icon-bars.svg');
        display: inline-block;
        mask-repeat: no-repeat;
        mask-size: contain;
        margin: 8px 0px 8px 8px;
        cursor: pointer;
    }

}

#checkMenu:checked ~ .menuLateralCompleto {
    left: 0;
    top:57px;
    transition: left 300ms ease-in-out;
}
#checkMenu:not(:checked) ~ .menuLateralCompleto {
    left: -70rem;
    transition: left 300ms ease-in-out;
}

#checkMenu:not(:checked) ~ .responsiveMenuAdmin {
    position:relative;
    
}

.responsiveMenuAdmin{
    border-bottom: 1px solid var(--neutral-06);
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: var(--neutral-09);
}

@media (min-width: 992px){
    .responsiveMenuAdmin{
        display: none;
    }
}