*{
    box-sizing: border-box;
}

ul{
    list-style: none;

}

.cabeceraMenuLateral{
    display: flex;
    flex-direction: row;
    padding: 8px 0px 8px 8px;
    width: 17rem;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid var(--neutral-07);
}
@media (min-width: 990px){
    .cabeceraMenuLateral{
        padding: 8px 0px 8px 8px;

    }
}
.cabeceraIcono{
    width: 40px;
    height: 40px;
    background-color: var(--neutral-01);
    align-items: center;
}

.iconoAdminPanel{
    width: 32px;
    height: 32px;
    background-color: var(--neutral-09);
    mask-image: url('../img/icon/icon-landingglobalgrid.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 4px 0px 0px 4px;
} 
.cabeceraMenuLateral h1{
    font-size: 20px;
    color: var(--neutral-01);
}

/*Menu lateral*/
.menuLateral{
    height: 100vh;
    width:17rem;
}

.menuLateral ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gala{
    background-color: var(--neutral-05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuGala ul{
    padding-top:0px;
    padding-left:24px;
}

/* Iconos del menu lateral */

.iconoCandidaturas{
    width:24px;
    height:24px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-document.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
}
.iconoFinalistas{
    width:24px;
    height:24px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-trophy.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
}
.iconoNoticias{
    width:28px;
    height:28px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-news.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
} 
.iconoCategorias{
    width:20px;
    height:20px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-tags.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
} 
.iconoPatrocinadores{
    width:20px;
    height:20px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-network.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
}

.iconoGala{
    width:20px;
    height:20px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-video.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
}

.iconoEvento{
    width:20px;
    height:20px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-calendar.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
} 
.iconoEdicionesAnteriores{
    width:16px;
    height:16px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-sandclock.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
} 
.iconoConfiguracionWeb{
    width:16px;
    height:16px;
    background-color: var(--neutral-01);
    mask-image: url('../img/icon/icon-settings.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 6px 0px 0px 6px;
}


/*Menu lateral responsive*/

#checkMenu{
    display:none;
}

.menuLateralCompleto{
    min-height: 100vh;
    z-index: 1000;
    background-color: var(--neutral-09);
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: var(--shadow-01);
}

@media (max-width: 992px){

    .responsiveMenuAdmin{
        position: fixed;
        width:100%;
        background-color: var(--neutral-09);
    }


    .cabeceraMenuLateral{
        width: 100%;
    }

    .menuLateralCompleto {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 55px;
    }

    .menuLateral{
        width: 100%;
    }

    .iconoMenuEscondido{
        width:56px;
        height:56px;
    }

    .iconoMenuHamburguesa{
        width:40px;
        height:40px;
        background-color: var(--neutral-09);
        mask-image: url('../img/icon/icon-bars.svg');
        display: inline-block;
        mask-repeat: no-repeat;
        mask-size: contain;
        margin: 8px 0px 8px 8px;
        cursor: pointer;
    }

}

#checkMenu:checked ~ .menuLateralCompleto {
    left: 0;
    top:57px;
    transition: left 300ms ease-in-out;
}
#checkMenu:not(:checked) ~ .menuLateralCompleto {
    left: -70rem;
    transition: left 300ms ease-in-out;
}

#checkMenu:not(:checked) ~ .responsiveMenuAdmin {
    position:relative;
    
}

.admin-super-container{
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px){
    .admin-super-container{
        flex-direction: row;
    }
}

.admin-page-content{
    flex-grow: 1;
    background-color: var(--neutral-09);
    width: 100%;
}

.admin-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    background-color: var(--neutral-08);
    padding: 16px 16px;
    flex-direction: row;
}

@media (min-width: 768px){
    .admin-header {
        padding: 16px 32px;
    }
}

.admin-header-module-info-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    min-width: 250px;
}

.admin-header-module-actions-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-shrink: 0;
    align-items: center;
}

.admin-header-main-action-button{
    background-color: var(--primary-03);
    color: var(--neutral-09);
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: min-content;
    width: 100%;
    gap: 8px;
}

@media (min-width: 768px){
    .admin-header-main-action-button {
        width: auto;
    }
    .admin-header-module-actions-container {
        width: auto;
    }
}

.admin-header-main-action-button:hover{
    background-color: var(--primary-02);
}

.admin-header-main-action-button.disabled{
    background-color: var(--primary-04);
    cursor: not-allowed;
}

.admin-content{
    background-color: var(--neutral-08);
    padding: 16px;
    height: 100%;
}

@media (min-width: 768px){
    .admin-content{
        padding: 16px 32px;
    }
}

.admin-module-name{
    font-size: 20px;
    font-weight: 700;
    color: var(--neutral-01);
}

@media (min-width: 768px){
    .admin-module-name{
        font-size: 24px;
    }
}

.admin-module-description{
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-03);
    margin-top: 4px;
    margin-bottom: 0px;
}

.icono-agregar {
    width: 24px;
    height: 24px;
    background-color: var(--neutral-09);
    mask-image: url('../img/icon/icon-plus.svg');
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
    margin: 0px 8px 0px 0px;
}

.responsiveMenuAdmin{
    border-bottom: 1px solid var(--neutral-04);
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: var(--neutral-09);
}

@media (min-width: 992px){
    .responsiveMenuAdmin{
        display: none;
    }
}

.cerrarSesionAdmin{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-02);
    border-radius:6px;

}