.header-noticias{
    min-height:296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:24px;
    background-image: url("../img/noticias-universidad-europea.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-header{
    font-size: 4rem;
    color:var(--neutral-09);
}

.redirect-home{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:4px;
    text-decoration:none;
    z-index:2;
    width:auto;
    height: auto;
    color:var(--neutral-09);
    position: absolute;
    top:352px;
}
.icon-home{
    width:16px;
    height:16px;
    mask-image: url("../img/icon/icon-house.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    cursor: pointer;
    background-color: var(--neutral-09);
}

.text{
    font-size:16px;
    font-weight: 300;
}


/*Listado de noticias*/

.news-list {
    position:relative;
    padding: 0 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 96px;
    margin-right: 96px;
}

.news-post{
    width:100%;
    margin: 8px 0;
    padding:8px; 
    box-shadow: var(--shadow-01);
}

 /* Efecto hover para agrandar la tarjeta de noticia despacio */
.news-post:hover{
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

@media (min-width: 1000px) {
    .news-post{
        width:32%;
        position:relative;
        padding:10px;
        transition: .2s ease-in-out;
    }
}

.img-noticia{
    width:100%;
    height: auto;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.news-post-content{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.news-date-title-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin:16px 16px 32px 16px;
    gap:8px;
}

.news-location{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-03);
}

.news-date{
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-03);
    display: flex;
    justify-content: end;
}

.news-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--neutral-01);
}

.news-description{
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-02);
}
