.pf-header{
    margin: 80px 80px;
    text-align: center;
    position: relative;
}

.bloque1{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    position: absolute;
    width: 142px;
    height: 95px;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--primary-03);
    left:-80px;
    top:16px;
    transform: rotateY(180deg) rotateX(180deg);
}

.bloque2{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    position: absolute;
    width: 142px;
    height: 95px;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--primary-03);
    left:632px;
    top:164px;
    transform: rotateX(180deg);
}

.title{
    font-size: 49px;
    font-weight: 600;
    color: var(--neutral-01);
    text-align: center;
    margin-bottom: 40px;
}
.faq-container {
    background: var(--neutral-09);
    margin-top: 30px;
    padding: 48px 96px;
}

.faq-item {
    padding: 16px 0;
    cursor: pointer;
    background-image: repeating-linear-gradient(to right, var(--neutral-05), var(--neutral-05) 2px, transparent 1px, transparent 6px);
    background-position: bottom left;
    background-size: auto 2px;
    background-repeat: repeat-x;
    transition: background-color 0.2s ease;
    position: relative;
}

.faq-item:last-child {
    background-image: none;
}

.faq-item:not(:last-child) {
    margin-bottom: 36px;
}

.faq-question {
    font-size: 25px;
    font-weight: 600;
    color: var(--neutral-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 120%;
    user-select: none;
}

.faq-question::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon-downarrow.svg') no-repeat center;
    background-size: contain;
    transition: transform 0.25s ease;
    margin-left: 8px;
}

.faq-item.active .faq-question::after {
    background: url('../img/icon/icon-toparrow.svg') no-repeat center;
    background-size: contain;
    transform: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 0;
    margin-top: 16px;
    color: var(--neutral-03);
    line-height: 1.6;
    font-size: 1rem;
    transition: max-height 0.3s ease, padding 0.3s ease;
    opacity: 0;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    padding: 12px 0 12px 0;
    opacity: 1;
}

.contact-info {
    padding: 16px;
    background: var(--neutral-09);
    font-size: 1rem;
    color: var(--neutral-03);
    margin-bottom: 64px;
    margin-right: 80px;
    margin-left: 80px;
}

.contact-info a {
    color: var(--primary-03);
}
