body{
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 600px){
    .mainContainer{
        justify-content: space-between;
    }
}

.imgLogin{
    width: 50vw;
    height: 100vh;
    display: block;
}
.imgUE{
    width:320px;
    height:160px;
}
.logoUE{
    text-align: right;
    position: absolute;
    right: 0px;
    top: 0px;
}
.logomasbox{
    padding-right:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bloqueLogin{
    text-align: center;
    padding: 16px 16px 16px 16px;
    margin: 0px 120px 0px 0px;
    width:30vw;
    height:29vh;
    border: solid black;
    border-radius: 5px;
    background-color: var(--gray-color);
    
}

input{
    margin:8px;
    width: 216px;
    height: 35px;
    border-radius: 5px;
    border: solid black;
    font-size: 16px;
    padding: 4px;
}

.btnLogin{
    width: 216px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--universidad-europea-color-negro);
    color: white;
    font-size: 16px;
    transition: all 300ms ease;
}

.btnLogin:hover{
    background-color: var(--universidad-europea-color-rojo);
    cursor: pointer;
    transition: all 300ms ease;
}

@media screen and (max-width:1000px){
    .bloqueLogin{
    }

    .logomasbox{
        padding:0px;
    }



}




@media screen and (max-height:770px){
    .bloqueLogin{
        height:35vh;
    }
}


/* En caso de que sea en móvil */
@media screen and (max-width:600px){
    body{
        background-image: url(../img/img1.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .imgLogin{
        width:0vw;
        height:0vh;
    }

    .imgUE{
        width:160px;
        height:80px;
    }

    .bloqueLogin{
        width:80vw;
        height:35vh;
        margin: 0px;
    }
}