/** Clases utilitarias para estilos comunes **/
/** Siempre debe ir al final de cualquier otro archivo CSS **/

.d-none{
    display: none;
}

.d-none-force{
    display: none !important;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.d-block-force{
    display: block !important;
}

@media (min-width: 480px) {
    .d-xs-flex{
        display: flex;
    }
    .d-xs-block{
        display: block;
    }
    .d-xs-none{
        display: none;
    }
}

@media (min-width: 576px) {
    .d-sm-flex{
        display: flex;
    }
    .d-sm-block{
        display: block;
    }
    .d-sm-none{
        display: none;
    }
}

@media (min-width: 768px) {
    .d-md-flex{
        display: flex;
    }
    .d-md-block{
        display: block;
    }
    .d-md-none{
        display: none;
    }
}

@media (min-width: 992px) {
    .d-lg-flex{
        display: flex;
    }
    .d-lg-block{
        display: block;
    }
    .d-lg-none{
        display: none;
    }
}

@media (min-width: 1200px) {
    .d-xl-flex{
        display: flex;
    }
    .d-xl-block{
        display: block;
    }
    .d-xl-none{
        display: none;
    }
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.flex-shink-0{
    flex-shrink: 0;
}

.justify-content-center{
    justify-content: center;
}

.justify-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.text-center{
    text-align: center;
}

.gap-4px{
    gap: 4px;
}

.gap-8px{
    gap: 8px;
}

.gap-12px{
    gap: 12px;
}

.gap-16px{
    gap: 16px;
}

.gap-20px{
    gap: 20px;
}

.gap-24px{
    gap: 24px;
}

.bg-neutral-01{
    background-color: var(--neutral-01);
}

.bg-neutral-02{
    background-color: var(--neutral-02);
}

.bg-neutral-03{
    background-color: var(--neutral-03);
}

.bg-neutral-04{
    background-color: var(--neutral-04);
}

.bg-neutral-05{
    background-color: var(--neutral-05);
}

.bg-neutral-06{
    background-color: var(--neutral-06);
}

.bg-neutral-07{
    background-color: var(--neutral-07);
}

.bg-neutral-08{
    background-color: var(--neutral-08);
}

.bg-neutral-09{
    background-color: var(--neutral-09);
}

.bg-primary-01{
    background-color: var(--primary-01);
}

.bg-primary-02{
    background-color: var(--primary-02);
}

.bg-primary-03{
    background-color: var(--primary-03);
}

.bg-primary-04{
    background-color: var(--primary-04);
}

.bg-primary-05{
    background-color: var(--primary-05);
}

.bg-success-01{
    background-color: var(--success-01);
}

.bg-error-01{
    background-color: var(--error-01);
}

.bg-warning-01{
    background-color: var(--warning-01);
}

.w-100{
    width: 100%;
}

.w-16px{
    width: 16px;
}

.w-20px{
    width: 20px;
}

.w-24px{
    width: 24px;
}

.w-28px{
    width: 28px;
}

.w-32px{
    width: 32px;
}

.w-36px{
    width: 36px;
}

.w-40px{
    width: 40px;
}

.w-44px{
    width: 44px;
}

.w-48px{
    width: 48px;
}

.h-16px{
    height: 16px;
}

.h-20px{
    height: 20px;
}

.h-24px{
    height: 24px;
}

.h-28px{
    height: 28px;
}

.h-32px{
    height: 32px;
}

.h-36px{
    height: 36px;
}

.h-40px{
    height: 40px;
}

.h-44px{
    height: 44px;
}

.h-48px{
    height: 48px;
}

.h-100px{
    height: 100px;
}

.text-primary-01{
    color: var(--primary-01);
}

.text-primary-02{
    color: var(--primary-02);
}

.text-primary-03{
    color: var(--primary-03);
}

.text-neutral-01{
    color: var(--neutral-01);
}

.text-neutral-02{
    color: var(--neutral-02);
}

.text-neutral-03{
    color: var(--neutral-03);
}

.text-neutral-04{
    color: var(--neutral-04);
}

.text-neutral-05{
    color: var(--neutral-05);
}

.text-neutral-06{
    color: var(--neutral-06);
}

.text-neutral-07{
    color: var(--neutral-07);
}

.text-neutral-08{
    color: var(--neutral-08);
}

.text-neutral-09{
    color: var(--neutral-09);
}

.text-warning-01{
    color: var(--warning-01);
}

.text-error-01{
    color: var(--error-01);
}

.text-error-02{
    color: var(--error-02);
}

.text-success-01{
    color: var(--success-01);
}

.text-success-02{
    color: var(--success-02);
}

.text-information-01{
    color: var(--information-01);
}

.text-information-02{
    color: var(--information-02);
}

.fs-10px{
    font-size: 10px;
}

.fs-12px{
    font-size: 12px;
}

.fs-14px{
    font-size: 14px;
}

.fs-16px{
    font-size: 16px;
}

.fs-18px{
    font-size: 18px;
}

.fs-20px{
    font-size: 20px;
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.border-dashed{
    border: 1px dashed transparent;
}

.border-primary-01{
    border-color: var(--primary-01);
}

.border-primary-02{
    border-color: var(--primary-02);
}

.border-primary-03{
    border-color: var(--primary-03);
}

.cursor-pointer{
    cursor: pointer;
}

.icon-warning {
    mask-image: url('../img/icon/icon-warning.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-trophy{
    mask-image: url('../img/icon/icon-trophy.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-picture{
    mask-image: url('../img/icon/icon-picture.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-drag{
    mask-image: url('../img/icon/icon-drag.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-close{
    mask-image: url('../img/icon/icon-close.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-camera-movie{
    mask-image: url('../img/icon/icon-video.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-clock{
    mask-image: url('../img/icon/icon-sandclock.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-settings{
    mask-image: url('../img/icon/icon-settings.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-document{
    mask-image: url('../img/icon/icon-document.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-calendar{
    mask-image: url('../img/icon/icon-calendar.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-location{
    mask-image: url('../img/icon/icon-location.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-link{
    mask-image: url('../img/icon/icon-link.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-live{
    mask-image: url('../img/icon/icon-live.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-external{
    mask-image: url('../img/icon/icon-link.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-archive{
    mask-image: url('../img/icon/icon-send.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-check {
    mask-image: url('../img/icon/icon-check.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-user-thick {
    mask-image: url('../img/icon/icon-user.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-bars{
    mask-image: url('../img/icon/icon-bars.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-search {
    mask-image: url('../img/icon/icon-searchthin.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

dialog:focus {
    outline: none;
}

dialog {
    border: none;
    padding: 0;
}

.d-flex-two-columns-responsive {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

@media (min-width: 768px) {
    .d-flex-two-columns-responsive {
        flex-direction: row;
    }
}

.d-flex-two-columns-responsive > * {
    flex: 1;
    min-width: 0;
}

.box-shadow-01{
    box-shadow: var(--shadow-01);
}

.box-shadow-02{
    box-shadow: var(--shadow-02);
}

.px-4px{
    padding-left: 4px;
    padding-right: 4px;
}

.px-8px{
    padding-left: 8px;
    padding-right: 8px;
}

.px-12px{
    padding-left: 12px;
    padding-right: 12px;
}

.px-16px{
    padding-left: 16px;
    padding-right: 16px;
}

.px-20px{
    padding-left: 20px;
    padding-right: 20px;
}

.px-24px{
    padding-left: 24px;
    padding-right: 24px;
}

.py-4px{
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-8px{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12px{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-16px{
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-20px{
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-24px{
    padding-top: 24px;
    padding-bottom: 24px;
}