.generic-card{
    box-shadow: var(--shadow-01);
    transition: 0.3s;
    background-color: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mode-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 480px) {
    .mode-info-container{
        flex-direction: row;
    }
}

.mode-info-text{
    color: var(--neutral-01);
}

.mode-button{
    width: 100%;
    padding: 8px 16px;
    border: none;
    background-color: var(--neutral-09);
    color: var(--neutral-03);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.mode-button:hover{
    filter: brightness(0.9);
}

@media (min-width: 480px) {
    .mode-button{
        width: auto;
    }
}

.mode-button.active{
    background-color: var(--primary-03);
    color: var(--neutral-09);
}

.published-text-container{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--success-01);
    font-weight: 600;
    justify-content: center;
}

.last-modified-text-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px;
    justify-content: center;
    color: var(--neutral-01);
    font-size: 14px;
}

@media (min-width: 480px) {
    .last-modified-text-container{
        font-size: 14px;
        flex-direction: row;
        width: auto;
    }
}

.last-modified-label{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.last-modified-date{
    font-weight: 600;
}

.main-action-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (min-width: 768px) {
    .main-action-buttons-container{
        flex-direction: row;
    }
}

.card-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 768px) {
    .card-header{
        flex-direction: row;
    }
}

.generic-cards-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.card-header-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--neutral-01);
}

.card-header-subtitle{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--neutral-03);
}

/** Generic Input Styles **/

.generic-input-groups-row{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

@media (min-width: 768px) {
    .generic-input-groups-row {
        flex-direction: row;
    }
}

.generic-input-groups-row > * {
    flex: 1;
    min-width: 0;
}

.generic-input-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.generic-input-label{
    font-size: 16px;
    font-weight: 600;
    color: var(--neutral-02);
}

.generic-input-wrapper{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    border: 1px solid var(--neutral-05);
    background-color: var(--neutral-09);
    padding: 12px 12px;
    cursor: text;
    transition: all 200ms ease;
}

.generic-input{
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: var(--neutral-03);
    cursor: text;
}

.generic-input:focus{
    color: var(--neutral-02);
}

.generic-input::placeholder{
    color: var(--neutral-04);
}

.generic-input-wrapper:has(.generic-input:focus) {
    border: 1px solid var(--neutral-04);
}

.helper-text{
    font-size: 12px;
    font-weight: 600;
    color: var(--neutral-03);
}

.error-message{
    font-size: 12px;
    color: var(--error-02);
}


.large-input-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.large-input-group-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.large-input-group-label-text{
    font-weight: 600;
    color: var(--neutral-02);
}

.large-input-group-secondary-text{
    color: var(--neutral-03);
    font-size: 12px;
}

@media (min-width: 768px) {
    .large-input-group-secondary-text{
        font-size: 14px;
    }
}

.large-input-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.large-input-group-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.large-input-group-label-text{
    font-weight: 600;
    color: var(--neutral-02);
}

.large-input-group-secondary-text{
    color: var(--neutral-03);
    font-size: 12px;
}

@media (min-width: 768px) {
    .large-input-group-secondary-text{
        font-size: 14px;
    }
}

.large-input-group-body{
    width: 100%;
    border: 1px solid var(--neutral-05);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .large-input-group-body{
        height: 160px;
    }
}

.large-input-group-body.drag-over {
    transform: scale(1.02);
    border: 2px dashed var(--primary-03);
    background-color: var(--primary-05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    z-index: 5;
}

.textarea-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 16px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--neutral-02);
    resize: none;
    transition: all 300ms ease;
}

.textarea-input::placeholder{
    color: var(--neutral-04);
}

.large-input-group-body:has(.textarea-input:focus) {
    box-shadow: 0 0 4px 3px rgba(197, 203, 204, 0.23);
    border: 1px solid var(--neutral-04);
    transition: all 300ms ease;
}

.secondary-card{
    transition: 0.3s;
    background-color: var(--neutral-06);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.helper-text-2{
    color: var(--neutral-03);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.streaming-card{
    width: 100%;
    transition: 0.3s;
    background-color: var(--neutral-07);
    border: 2px solid var(--neutral-04);
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

@media (min-width: 480px) {
    .streaming-card{
        padding: 16px;
    }
}

.streaming-card.enabled{
    border: 2px solid var(--primary-03);
    background-color: var(--primary-05);
}

.streaming-left-side{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    min-width: 0;
    flex: 1;
}

.streaming-indicator{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    background-color: var(--neutral-06);
    padding: 8px 12px;
}

.streaming-card.enabled .streaming-indicator{
    background: var(--primary-03);
}

.streaming-card.enabled .icon{
    background-color: var(--neutral-09);
}

.streaming-indicator-text{
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-03);
}

.streaming-card.enabled .streaming-indicator-text{
    color: var(--neutral-09);
}


.streaming-text-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
    flex: 1;
}

.streaming-label-text{
    font-size: 16px;
    font-weight: 600;
    color: var(--neutral-02);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.streaming-helper-text{
    font-size: 12px;
    color: var(--neutral-03);
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 480px) {
    .streaming-helper-text {
        display: block;
    }
}

.streaming-right-side{
    display: flex;
    align-items: center;
}

.streaming-toggle-button{
    width: 46px;
    height: 24px;
    background-color: var(--neutral-05);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    transition: all 300ms ease;
    border-radius: 14px;
}

.streaming-card.enabled .streaming-toggle-button{
    background-color: var(--success-02);
}

.streaming-toggle-button .toggle-button-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--neutral-09);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.streaming-card.enabled .streaming-toggle-button .toggle-button-circle{
    transform: translateX(18px);
}

.streaming-toggle-button .toggle-button-circle-inner{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--neutral-05);
}
.main-action-right-side{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.drop-zone-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.upload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    pointer-events: none;
}

.upload-text {
    font-size: 12px;
    color: var(--neutral-02);
    font-weight: 700;
}

@media (min-width: 768px) {
    .upload-text {
        font-size: 14px;
        font-weight: 500;
    }
}

.upload-subtext {
    font-size: 12px;
    font-weight: 600;
    color: var(--neutral-03);
}


.image-gallery-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-gallery-items-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 12px;
}

.gallery-item{
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    cursor: grab;
    position: relative;
}

.gallery-item-image{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.icon-container-2{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-container-2:hover {
    transform: scale(1.1);
    background-color: var(--neutral-09);
}

.icon-container-2:hover .icon-drag,
.icon-container-2:hover .icon-close {
    background-color: var(--neutral-01);
}

.gallery-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
}

/* Show overlay on hover */
.gallery-item:hover .gallery-item-overlay {
    opacity: 1;
}

.order-badge{
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: var(--neutral-09);
    color: var(--neutral-03);
    font-size: 12px;
    padding: 4px 8px;
    font-weight: 500;
    z-index: 2;
}

remove-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}

.sortable-ghost {
    opacity: 0.4;
    border: 2px dashed var(--primary-03);
}


@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake-error {
    animation: shake 0.4s ease-in-out;
    border-color: var(--error-03, #EB4534) !important;
}

.drag-active {
    transform: scale(1.02);
    border-color: var(--primary-03);
    background-color: var(--primary-05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    z-index: 5;
}

.video-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 12px;
}

.video-item {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: var(--neutral-08);
    overflow: hidden;
    cursor: grab;
    position: relative;
}

.video-item video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    pointer-events: none;
}
.video-item .gallery-item-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
}

.video-item:hover .gallery-item-overlay {
    opacity: 1;
}

.video-item:active {
    cursor: grabbing;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid var(--neutral-05);
}

.modal-header-left-side{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal-header-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--neutral-01);
}

.modal-header-subtitle{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--neutral-03);
}

.modal-header-right-side {
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.divider-line{
    width: 100%;
    height: 1px;
    background-color: var(--neutral-05);
}


.warning-text-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px 16px;
}

.warning-content{
    display: flex;
    flex-direction: column;
}

.warning-main-text{
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}

.warning-secondary-text{
    font-size: 14px;
    line-height: 120%;
}

.responsive-mode-cards-container{
    height: 79vh;
}

@media (min-width: 992px) {
    .responsive-mode-cards-container{
        height: 90vh;
    }
}