.bases-legales-header {
    text-align: center;
    margin: 96px 240px;
    position: relative;
}

@media (min-width: 340px) and (max-width: 767px) {
    .bases-legales-header {
        width: 100%;
        margin: 0px;
        padding:48px;
    }

}

.bloque1{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    position: absolute;
    width: 142px;
    height: 95px;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--primary-03);
    left:232px;
    top:-96px;
    transform: rotateX(180deg);
}

@media (max-width: 767px) {
    .bloque1{
        display: none;
    }
}

.bloque2{
    mask-image: url("../img/icon/icon-griddecorationthin.svg");
    position: absolute;
    width: 142px;
    height: 95px;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--primary-03);
    left:-242px;
    bottom:-64px;
    transform: rotateY(180deg) rotateX(180deg);
}

.bases-legales-header-texto{
    width: 100%;
}

.bases-legales-title{
    font-size: 49px;
    font-weight: 600;
    line-height: 120%;
}

@media (min-width: 340px) and (max-width: 500px) {
    .bases-legales-title {
        font-size: 24px;
    }

    .bloque1{
        display: none;
    }

    .bloque2{
        display: none;
    }
}

.text{
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
}



.pdf-bases-legales{
    padding:48px 96px;
    width: 100%;
    gap:36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--neutral-08);
}

embed{
    width:100%;
    height:85vh;
}

@media (max-width:768px) {
    embed{
        display: none;
    }
}

@media (min-width: 340px) and (max-width: 500px) {
    embed{
        display: none;
    }
}

.btn-descargar {
    width: 321px;
}