.mis-candidaturas-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.candidatura-mini-card-component{
    border-bottom: 1px solid var(--neutral-05);
    background-color: var(--neutral-09);
    transition: all 0.3s ease;
}

.candidatura-mini-card-component:hover{
    background-color: var(--neutral-07);
    transition: all 0.3s ease;
}

.candidatura-mini-card-component.selected{
    background-color: var(--neutral-06);
}

.estado-candidatura{
    display:flex;
    align-items: flex-start;
    padding: 4px 12px;
    position:absolute;
    font-size:10px;
    font-weight: 600;
    line-height:120%;
    top:0px;
    right:0px;
}


.fecha-presentada{
    font-size:16px;
    font-weight: 500;
    line-height:120%;
    color: var(--neutral-03);
}

.ultima-actualizacion{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.fecha-actualizacion{
    font-size:16px;
    font-weight: 500;
    line-height:120%;
    color: var(--neutral-03);
}


.page-button-container{
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.flecha{
    font-size: 12px;
}

.button2:hover{
    background-color: var(--neutral-01);
    color: var(--neutral-09);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-subir-nuevo-corto{
    margin: 24px;
    padding: 16px 24px;
    color:var(--primary-03);
    border: 1px solid var(--primary-03);
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-subir-nuevo-corto:hover{
    background-color: var(--primary-03);
    color: var(--neutral-09);
    cursor: pointer;
}



.status-card-revision{
    padding: 24px;
    display:flex;
    flex-direction: row;
    gap:16px;
    margin-bottom: 28px;
    border: 1px solid var(--warning-02);
    background-color: var(--warning-04);
    width:100%;
}

.icono-film{
    width:36px;
    height:36px;
    background-color: var(--warning-01);
    mask-image: url("../img/icon/icon-film.svg");
    mask-size: cover;
}

.text-revision{
    display:flex;
    flex-direction: column;
}

.title-revision{
    font-size:20px;
    font-weight: 600;
    line-height:120%;
    color:var(--warning-01);
}

.descripcion-revision{
    font-size:16px;
    font-weight: 500;
    line-height:120%;
    color:var(--warning-01);
}

.icono-star{
    width:57px;
    height:36px;
    background-color: var(--information-01);
    mask-image: url("../img/icon/icon-star.svg");
    mask-size: cover;
}

.text-aceptada{
    display:flex;
    flex-direction: column;
}

.title-aceptada{
    font-size:20px;
    font-weight: 600;
    line-height:120%;
    color:var(--information-01);
}

.description-aceptada{
    font-size:16px;
    font-weight: 500;
    line-height:120%;
    color:var(--information-01);
}


.status-card-rechazada{
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    background-color: var(--primary-05);
    width:100%;
}


.icono-text{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
}

@media (max-width: 768px) {
    .icono-text{
        flex-direction: column;
    }
}

.icono-exclamacion{
    width:57px;
    height:36px;
    background-color: var(--error-01);
    mask-image: url("../img/icon/icon-warning.svg");
    mask-size: cover;
}

.text-rechazada{
    display:flex;
    flex-direction: column;
}

.title-rechazada{
    font-size:20px;
    font-weight: 600;
    line-height:120%;
    color:var(--error-01);
}
.description-rechazada{
    font-size:16px;
    font-weight: 500;
    line-height:120%;
    color:var(--error-01);
}

.btn-subsanar{
    width:152px;
    padding: 8px 24px;
    background-color: var(--primary-03);
    color: var(--neutral-09);
    font-size:14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.btn-subsanar:hover{
    background-color: var(--primary-05);
    color: var(--primary-03);
    cursor: pointer;
    border: 1px solid var(--primary-03);

}

.status-card-rechazada-subsanar{
    padding: 24px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:12px;
    margin-bottom: 28px;
    border: 1px solid var(--error-01);
    background-color: var(--primary-05);
    width:100%;
}

.text-rechazada{
    display:flex;
    flex-direction: column;
}

.title-rechazada{
    font-size:20px;
    font-weight: 600;
    line-height:120%;
    color:var(--error-01);
}

deo-element{
    width:100%;
    height:auto;
    flex-shrink: 0;
}

.modal-container{
    background: var(--neutral-09);
    width:90%;
    max-width: 800px;
    overflow: hidden;
    max-height: 90vh;
    position: relative;
}

.modal-content{
    flex:1;
    overflow-y: auto;
}

.linea{
    width: 100%;
    height: 0.5px;
    background-color: var(--neutral-05);
}

.btn-cerrar{
    width: 190px;
}

.btn-cerrar-container{
    margin-bottom:24px;
}