.header-eventos{
    min-height:360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:24px;
    background-image: url("../img/eventos-universidad-europea.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.bg-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.title-header{
    font-size: 4rem;
    color:var(--neutral-09);
    z-index: 2;
}

.redirect-home{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:4px;
    text-decoration:none;
    z-index:2;
    width:auto;
    height: auto;
    color:var(--neutral-09);
    position: absolute;
    bottom: 16px;
}
.icon-home{
    width:16px;
    height:16px;
    mask-image: url("../img/icon/icon-house.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    cursor: pointer;
    background-color: var(--neutral-09);
    cursor:pointer;
}

.text{
    font-size:16px;
    font-weight: 300;
}

.title{
    font-size: 24px;
    font-weight: 600;
}

/*Listado de eventos*/

.events-list {
    position:relative;
    padding: 0 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left:96px;
    margin-right:96px;
}

.event-post{
    box-shadow: var(--shadow-01);
}

.event-post:hover{
    transform: scale(1.02);
    transition: .2s ease-in-out;
}

@media (min-width: 1000px) {
    .event-post{
        padding:12px;
    }
}

.img-evento{
    width:100%;
    height: auto;
    position: relative;
}

.event-post-content{
    display: flex;
    flex-direction: column;
    gap:8px;
    padding: 16px;
}

.event-icon-hora-fecha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:4px;
}

.icon-fecha{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    color: var(--neutral-03);
    width:100%;
}

.icon-calendario{
    width: 16px;
    height: 16px;
    mask-image: url("../img/icon/icon-calendar.svg");
    mask-size: cover;
    background-color: var(--neutral-03);
}

.icon-hora{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    color: var(--neutral-03);
    width:100%;
}

.icon-reloj{
    width: 16px;
    height: 16px;
    mask-image: url("../img/icon/icon-time.svg");
    mask-size: cover;
    background-color: var(--neutral-03);
}


.event-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--neutral-01);
}

.event-description{
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-02);
}