.footer-container{
    padding-top: 36px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 80px !important;
}

@media (min-width: 768px) {
    .footer-container {
        padding-top: 64px !important;
        padding-left: 32px !important;
        padding-right: 32px !important;
        padding-bottom: 64px !important;
    }
}

.footer-container-1{
    gap: 64px;
    max-width: 350px;
}

@media (min-width: 480px) {
    .footer-container-1 {
        gap: 48px;
    }
}

@media (min-width: 768px) {
    .footer-container-1 {
        max-width: 450px;
        gap: 32px;
    }
}

.ue-logo{
    width: 67.7px;
    height: 67.7px;
}

@media (min-width: 1200px) {
    .ue-logo{
        width: 90.3px;
        height: 90.3px;
    }
}



.social-media-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    display:flex;
    align-items: center;
}



.super-placed-logo{
    bottom: 68px;
    right: 24px;
}

@media (min-width: 490px) {
    .super-placed-logo{
        bottom: 55px;
        right: 24px;
    }
}

@media (min-width: 768px) {
    .super-placed-logo{
        bottom: calc(5% + 32px);
        right: calc(5% + 32px);
    }
}

@media (min-width: 1200px) {
    .super-placed-logo{
        bottom: calc(5% + 32px);
        right: calc(15% + 32px);
    }
}