@media (min-width: 768px) {
    .footer-content{
        flex-direction: row;
        width: 720px;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    .footer-content{
        width: 960px;
        flex-wrap: nowrap;
    }
}

@media (min-width: 1200px) {
    .footer-content {
        width: 1133px;
    }
}

.footer-container-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    max-width: 350px;
}

@media (min-width: 480px) {
    .footer-container-1 {
        gap: 48px;
    }
}

@media (min-width: 768px) {
    .footer-container-1 {
        max-width: 450px;
        gap: 32px;
    }
}

.footer-image{
    width: 120px;
}

.ue-logo{
    width: 67.7px;
    height: 67.7px;
}

@media (min-width: 1200px) {
    .footer-image{
        width: 160px;
    }
    .ue-logo{
        width: 90.3px;
        height: 90.3px;
    }
}

.footer-container-2{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-text{
    color: var(--neutral-09);
    font-size: 18px;
    font-weight: 600;
}

.footer-container-3{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-secondary-text{
    font-size: 18px;
    font-weight: 600;
    color: var(--neutral-03);
}

.footer-container-4{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 480px) {
    .footer-container-4{
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .footer-container-4{
        flex-direction: column;
    }
}


.social-media-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    display:flex;
    align-items: center;
}

.icon-facebook{
    width:32px;
    height:32px;
    mask-image: url("../img/icon/icon-facebookinverse.svg");
    mask-size: cover;
}

.icon-instagram{
    width:32px;
    height:32px;
    mask-image: url("../img/icon/icon-instagraminverse.svg");
    mask-size: cover;
}
.icon-youtube{
    width:42px;
    height:38px;
    mask-image: url("../img/icon/icon-youtube.svg");
    mask-size: cover;
    mask-position: center;
}
.icon-linkedin{
    width:32px;
    height:32px;
    mask-image: url("../img/icon/icon-linkedlninverse.svg");
    mask-size: cover;
}
.icon-twitter{
    width:32px;
    height:32px;
    mask-image: url("../img/icon/icon-x.svg");
    mask-size: cover;
}
