/** Estilos generales del proyecto */

@font-face {
    font-family: 'Hellix';
    src: local('Hellix Regular'), local('Hellix-Regular'),
    url('./fonts/Hellix-Regular.woff2') format('woff2'),
    url('./fonts/Hellix-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hellix';
    src: local('Hellix Medium'), local('Hellix-Medium'),
    url('./fonts/Hellix-Medium.woff2') format('woff2'),
    url('./fonts/Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hellix';
    src: local('Hellix SemiBold'), local('Hellix-SemiBold'),
    url('./fonts/Hellix-SemiBold.woff2') format('woff2'),
    url('./fonts/Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hellix';
    src: local('Hellix Bold'), local('Hellix-Bold'),
    url('./fonts/Hellix-Bold.woff2') format('woff2'),
    url('./fonts/Hellix-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



/* Kit de componentes Figma */
:root{
    --primary-01: #801914;
    --primary-02: #BF261E;
    --primary-03: #FF3228;
    --primary-04: #FF8C87;
    --primary-05: #FFE6E5;
    --neutral-01: #1e1e1e;
    --neutral-02: #393A3B;
    --neutral-03: #707273;
    --neutral-04: #A6A9AC;
    --neutral-05: #DDE1E4;
    --neutral-06: #E5E5E5;
    --neutral-07: #F5F5F5;
    --neutral-08: #F6F7F8;
    --neutral-09: #FFFFFF;
    --warning-01: #916E04;
    --warning-02: #FFC107;
    --warning-03: #FFD556;
    --warning-04: #FFE9A6;
    --information-01: #138496;
    --information-02: #17A2B8;
    --information-03: #51B9CA;
    --information-04: #8BD1DC;
    --success-01: #006C2D;
    --success-02: #00C853;
    --success-03: #CEF7D8;
    --success-04: #E0F8EA;
    --error-01: #7C0000;
    --error-02: #D50000;
    --error-03: #EC8A8A;
    --error-04: #F6CACA;
    --shadow-01: 0 2px 5px 0 rgba(40, 40, 40, 0.10);
    --shadow-02: 0 2px 20px 0 rgba(40, 40, 40, 0.12);
}

/** Reset general */
*{
    font-family: 'Hellix', Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: 600;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

button{
    border-radius: 0;
    border: none;
}

input{
    background-color: transparent;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--neutral-09);
    color: var(--neutral-01);
}

a{
    text-decoration: none;
    color: inherit;
}

a:focus-visible{
    outline: none;
}

input {
    border: 0;
    outline: 0;
    box-shadow: none;
}

input:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}

p{
    margin: 0;
    padding: 0;
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#splash.hidden {
    opacity: 0;
    pointer-events: none;
}

.hidden-force {
    display: none !important;
}

.air-datepicker {
    --adp-day-name-color: var(--neutral-02) !important;
    --adp-accent-color: var(--neutral-01) !important;
    --adp-bg-color: var(--neutral-09) !important;
    --adp-border-color: var(--neutral-05) !important;
    --adp-hover-bg-color: var(--neutral-07) !important;
    --adp-text-color: var(--neutral-01) !important;
    --adp-cell-background-color-selected: var(--primary-03) !important;
    --adp-cell-background-color-selected-hover: var(--primary-02) !important;
}

.primary-button-01{
    background-color: var(--primary-03);
    color: var(--neutral-09);
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: min-content;
    gap: 8px;
    border: 1px solid var(--primary-03);
    transition: all 200ms ease;
}

@media (min-width: 768px){
    .ºprimary-button-01 {
        width: auto;
    }
}

.primary-button-01:hover{
    background-color: var(--neutral-09);
    color: var(--primary-03);
    border: 1px solid var(--primary-03);
    transition: all 200ms ease;
}

.primary-button-01.disabled, .primary-button-01:disabled{
    background-color: var(--primary-04);
    cursor: not-allowed;
}

.primary-button-02{
    background-color: var(--neutral-09);
    border: 1px solid var(--primary-03);
    color: var(--primary-03);
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: min-content;
    gap: 8px;
    transition: all 300ms ease;
}

@media (min-width: 768px){
    .primary-button-02 {
        width: auto;
    }
}

.primary-button-02:hover{
    background-color: var(--primary-03);
    color: var(--neutral-09);
}

.primary-button-02.disabled, .primary-button-02:disabled{
    border: 1px solid var(--primary-04);
    color: var(--primary-04);
    cursor: not-allowed;
}

.primary-button-02:disabled:hover{
    background-color: var(--neutral-09);
    color: var(--primary-04);
}

.primary-button-03{
    background-color: var(--primary-03);
    color: var(--neutral-09);
    border: 1px solid var(--primary-03);
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: min-content;
    gap: 8px;
    transition: all 200ms ease;
}

@media (min-width: 768px){
    .primary-button-03 {
        width: auto;
    }
}

.primary-button-03:hover{
    background-color: var(--neutral-09);
    color: var(--primary-03);
    border: 1px solid transparent;
    transition: all 200ms ease;
}

.primary-button-03.disabled, .primary-button-03:disabled{
    background-color: var(--primary-04);
    cursor: not-allowed;
}

.secondary-button-01{
    background-color: var(--neutral-01);
    color: var(--neutral-09);
    border: 1px solid transparent;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    gap: 8px;
    transition: all 300ms ease;
}

.secondary-button-01:hover, .secondary-button-01.active{
    background-color: var(--neutral-09);
    color: var(--neutral-01);
    border: 1px solid var(--neutral-01);
}

.secondary-button-02{
    background-color: var(--neutral-09);
    color: var(--neutral-01);
    border: 1px solid var(--neutral-03);
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    gap: 8px;
    transition: all 300ms ease;
}

.secondary-button-02:hover, .secondary-button-02.active{
    background-color: var(--neutral-01);
    color: var(--neutral-09);
    border: 1px solid var(--neutral-09);
}

.secondary-button-03{
    background-color: var(--neutral-09);
    color: var(--neutral-01);
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    gap: 8px;
    transition: all 300ms ease;
}

.secondary-button-03:hover, .secondary-button-03.active{
    background-color: var(--neutral-01);
    color: var(--neutral-09);
}

.button-small{
    padding: 4px 12px;
    font-size: 14px;
}

.ghost{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


.admin-super-container{
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px){
    .admin-super-container{
        flex-direction: row;
    }
}

.admin-page-content{
    flex-grow: 1;
    background-color: var(--neutral-08);
    width: 100%;
}

.admin-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 16px 16px;
    flex-direction: row;
}

@media (min-width: 768px){
    .admin-header {
        padding: 16px 32px;
    }
}

.admin-header-module-info-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    min-width: 250px;
}

.admin-header-module-actions-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-shrink: 0;
    align-items: center;
}

.admin-content{
    padding: 16px;
}

@media (min-width: 768px){
    .admin-content{
        padding: 16px 32px;
    }
}

.admin-module-name{
    font-size: 20px;
    font-weight: 600;
    color: var(--neutral-01);
}

@media (min-width: 768px){
    .admin-module-name{
        font-size: 24px;
    }
}

.default-banner-size{
    height: auto;
}

@media (min-width: 768px){
    .default-banner-size{
        height: calc(100vh - 96px);
        min-height: 500px;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(36px);
    transition: all 1s ease-out;
    visibility: hidden;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}