.img-edicion-anterior{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.texto-edicion-anterior{
    width: 100%;
    padding: 0px 16px;
    align-items: center;
    justify-content: center;
}

.num-edicion{
    font-size: 20px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 600;
}

.text-edicion{
    font-size: 16px;
    line-height: 120%;
    color: var(--neutral-01);
}

.participantes-ganadores{
    font-size: 14px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 600;
}

.flecha-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
    background-color: var(--primary-03);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flecha-derecha{
    mask-image: url("../img/icon/icon-rightarrow.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--neutral-09);
    width: 24px;
    height: 24px;
}


.eventos{
    overflow-y: scroll;
    height: 368px;
    padding:4px;
}

.evento{
    width: 100%;
    box-shadow: var(--shadow-01);
    height: auto;
    background-color: var(--neutral-09);
}

.img-evento-container{
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .img-evento-container{
        width:251px;
        height:168px;
    }
}

.img-evento{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.evento-title{
    font-size: 20px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 600;
}

.icono-reloj{
    mask-image: url("../img/icon/icon-time.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--neutral-03);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.hora{
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    color: var(--neutral-03);
}

.descipcion-evento{
    font-size: 16px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 400;
}

.space-noticias{
    padding-top:48px;
    padding-bottom:48px;
    justify-content: center;
    align-items: center;
}

.space-noticias-text{
    font-size: 39px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 600;
}

.noticia{
    box-shadow: var(--shadow-01);
    width: 400px;
    height: auto;
    cursor: pointer;
}

.img-noticia-contenedor{
    width:400px;
    height:276px;
}

.img-noticia{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.noticia-texto{
    padding:16px;
}

.fecha-noticia{
    font-size: 14px;
    line-height: 120%;
    color: var(--neutral-03);
    font-weight: 400;
    justify-content: end;
    align-items: end;
    display: flex;
}

.title-noticia{
    font-size: 20px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 600;
}

.noticia-content{
    font-size: 16px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 400;
}

/* Carousel noticias*/
.noticias {
    position: relative;
    max-width: 900px; /* Un poco más para dar aire a las flechas */
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.noticias-carousel {
    width: 100%;
    max-width: 824px;
    overflow: hidden;
    margin: 0 auto;
}

.noticias-track {
    display: flex;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    gap: 24px;
    height: 480px;
}

.noticia-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: pointer; /* Indica que se puede hacer clic */
    user-select: none;
    transition: opacity 0.3s;
}


.noticia-slide:active {
    transform: scale(0.98); /* Efecto de pulsación */
}
/* Botones Flechas */
.noticia-btn {
    position: absolute;
    transform: translateY(-50%);
    color: var(--primary-03);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    transition: all 0.3s ease;
}

@media (min-width: 992px) {
    .noticia-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.noticia-btn.prev {
    left: -132px;
    mask-image: url("../img/icon/icon-leftchevron.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--primary-03);
    width: 45px;
    height: 45px;

}
.noticia-btn.next {
    right: -132px;
    mask-image: url("../img/icon/icon-rightchevron.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--primary-03);
    width: 45px;
    height: 45px;
}

/* Indicadores */
.noticias-indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.galeria-foto-dot {
    width: 12px;
    height: 12px;
    background: var(--neutral-05);
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
}

.galeria-foto-dot.active {
    background: var(--primary-03);
}

.galeria-foto-dot:hover {
    background: var(--primary-03);
}



.galeria-foto-dot {
    width: 12px;
    height: 12px;
    background: var(--neutral-05);
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
}

.galeria-foto-dot.active {
    background: var(--primary-03);
}

.galeria-foto-dot:hover {
    background: var(--primary-03);
}

.space-premios{
    padding-top:48px;
    padding-bottom:48px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--neutral-08);
}

.space-premios-text{
    font-size: 39px;
    line-height: 120%;
    color: var(--neutral-01);
    font-weight: 600;
}

.premio {
    border: solid 1px var(--neutral-06);
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--neutral-09);
    padding:24px;
    justify-content: center;
    align-items: center;
    gap:24px;
    transition: all 300ms ease-in-out;
}

.premio:hover {
    transition: all 300ms ease-in-out;
    background-color: var(--primary-03);
    color: var(--neutral-09);
}

.premio:hover .icon-premio,
.premio:hover .icon-money {
    background-color: var(--neutral-09);
}

.icon-premio{
    mask-image: url("../img/Medal.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    display: inline-block;
    background-color: var(--neutral-01);
}

.puesto{
    font-size: 25px;
    line-height: 120%;
    font-weight: 600;
}

.cantidad{
    align-items: center;
}

.premio-cantidad{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon-billete {
    mask-image: url("../img/icon/icon-money.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--neutral-01);
    width: 24px;
    height: 24px;
    display: inline-block;
}

.icon-billete:hover {
    background-color: var(--neutral-09);
}

.premio-patrocinador{
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
}

.calendario-eventos{
    width: 100%;
}

@media (min-width: 578px){
    .calendario-eventos{
        width: 350px;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(36px);
    transition: all 1.5s ease-out;
    visibility: hidden;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}