/** Clases utilitarias para estilos comunes **/
/** Siempre debe ir al final de cualquier otro archivo CSS **/
:root {
    --bs-gutter-x: 1.5rem;
}

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}

@media (min-width: 480px) {
    .d-xs-flex{
        display: flex;
    }
    .d-xs-block{
        display: block;
    }
    .d-xs-none{
        display: none;
    }
}

@media (min-width: 576px) {
    .d-sm-flex{
        display: flex;
    }
    .d-sm-block{
        display: block;
    }
    .d-sm-none{
        display: none;
    }
}

@media (min-width: 768px) {
    .d-md-flex{
        display: flex;
    }
    .d-md-block{
        display: block !important;
    }
    .d-md-none{
        display: none;
    }
}

@media (min-width: 992px) {
    .d-lg-flex{
        display: flex;
    }
    .d-lg-block{
        display: block;
    }
    .d-lg-none{
        display: none;
    }
}

@media (min-width: 1200px) {
    .d-xl-flex{
        display: flex;
    }
    .d-xl-block{
        display: block;
    }
    .d-xl-none{
        display: none;
    }
}

.d-none{
    display: none;
}

.d-none-force{
    display: none !important;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

@media (min-width: 480px) {
    .flex-xs-column{
        flex-direction: column;
    }

    .flex-xs-row{
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .flex-md-column{
        flex-direction: column;
    }

    .flex-md-row{
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .flex-lg-column{
        flex-direction: column;
    }

    .flex-lg-row{
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .flex-xl-column{
        flex-direction: column;
    }

    .flex-xl-row{
        flex-direction: row;
    }
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.flex-shrink-0{
    flex-shrink: 0;
}

.flex-shrink-1{
    flex-shrink: 1;
}

.flex-grow-0{
    flex-grow: 0;
}

.flex-grow-1{
    flex-grow: 1;
}

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-first { order: -1; }
.order-last { order: 6; }

@media (min-width: 480px) {
    .order-xs-0 { order: 0; }
    .order-xs-1 { order: 1; }
    .order-xs-2 { order: 2; }
    .order-xs-3 { order: 3; }
    .order-xs-4 { order: 4; }
    .order-xs-5 { order: 5; }
    .order-xs-first { order: -1; }
    .order-xs-last { order: 6; }
}

@media (min-width: 576px) {
    .order-sm-0 { order: 0; }
    .order-sm-1 { order: 1; }
    .order-sm-2 { order: 2; }
    .order-sm-3 { order: 3; }
    .order-sm-4 { order: 4; }
    .order-sm-5 { order: 5; }
    .order-sm-first { order: -1; }
    .order-sm-last { order: 6; }
}

@media (min-width: 768px) {
    .order-md-0 { order: 0; }
    .order-md-1 { order: 1; }
    .order-md-2 { order: 2; }
    .order-md-3 { order: 3; }
    .order-md-4 { order: 4; }
    .order-md-5 { order: 5; }
    .order-md-first { order: -1; }
    .order-md-last { order: 6; }
}

@media (min-width: 992px) {
    .order-lg-0 { order: 0; }
    .order-lg-1 { order: 1; }
    .order-lg-2 { order: 2; }
    .order-lg-3 { order: 3; }
    .order-lg-4 { order: 4; }
    .order-lg-5 { order: 5; }
    .order-lg-first { order: -1; }
    .order-lg-last { order: 6; }
}

@media (min-width: 1200px) {
    .order-xl-0 { order: 0; }
    .order-xl-1 { order: 1; }
    .order-xl-2 { order: 2; }
    .order-xl-3 { order: 3; }
    .order-xl-4 { order: 4; }
    .order-xl-5 { order: 5; }
    .order-xl-first { order: -1; }
    .order-xl-last { order: 6; }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x, 1.5rem) * -0.5);
    margin-right: calc(var(--bs-gutter-x, 1.5rem) * -0.5);
}

.row > * {
    padding-left: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
    padding-right: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
}

.col-3,
.col-4,
.col-6,
.col-8,
.col-12 {
    flex-shrink: 0;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 480px) {
    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }

    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xs-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }

    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.grid-template-columns-1{
    grid-template-columns: repeat(1, 1fr);
}

.grid-template-columns-2{
    grid-template-columns: repeat(2, 1fr);
}

.grid-template-columns-3{
    grid-template-columns: repeat(3, 1fr);
}

.grid-template-columns-4{
    grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 480px) {
    .grid-xs-template-columns-2{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-xs-template-columns-3{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-xs-template-columns-4{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) {
    .grid-md-template-columns-2{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-md-template-columns-3{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-md-template-columns-4{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 992px) {
    .grid-lg-template-columns-2{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-lg-template-columns-3{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-lg-template-columns-4{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-xl-template-columns-2{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-xl-template-columns-3{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-xl-template-columns-4{
        grid-template-columns: repeat(4, 1fr);
    }
}

.justify-content-center{
    justify-content: center;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-start{
    justify-content: flex-start;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}

.align-self-end{
    align-self: flex-end;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-nowrap{
    white-space: nowrap;
}

.text-wrap{
    white-space: normal;
}

.text-break{
    word-break: break-word !important;
    word-wrap: break-word !important;
}

.gap-4px{
    gap: 4px;
}

.gap-8px{
    gap: 8px;
}

.gap-10px{
    gap: 10px;
}

.gap-12px{
    gap: 12px;
}

.gap-16px{
    gap: 16px;
}

.gap-20px{
    gap: 20px;
}

.gap-24px{
    gap: 24px;
}

.gap-32px{
    gap: 32px;
}

.gap-36px{
    gap: 36px;
}

.gap-40px{
    gap: 40px;
}

.gap-44px{
    gap: 44px;
}

.gap-48px{
    gap: 48px;
}

@media (min-width: 480px) {
    .gap-xs-48px{
        gap: 48px;
    }
}

@media (min-width: 768px) {
    .gap-md-48px{
        gap: 48px;
    }
}

@media (min-width: 992px) {
    .gap-lg-48px{
        gap: 48px;
    }
}

@media (min-width: 1200px) {
    .gap-xl-48px{
        gap: 48px;
    }
}

.gap-56px{
    gap: 56px;
}

.gap-64px{
    gap: 64px;
}

.bg-black-alpha-40{
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-neutral-01{
    background-color: var(--neutral-01);
}

.bg-neutral-02{
    background-color: var(--neutral-02);
}

.bg-neutral-03{
    background-color: var(--neutral-03);
}

.bg-neutral-04{
    background-color: var(--neutral-04);
}

.bg-neutral-05{
    background-color: var(--neutral-05);
}

.bg-neutral-06{
    background-color: var(--neutral-06);
}

.bg-neutral-07{
    background-color: var(--neutral-07);
}

.bg-neutral-08{
    background-color: var(--neutral-08);
}

.bg-neutral-09{
    background-color: var(--neutral-09);
}

.bg-primary-01{
    background-color: var(--primary-01);
}

.hover-bg-primary-01:hover{
    background-color: var(--primary-01);
}

.bg-primary-02{
    background-color: var(--primary-02);
}

.bg-primary-03{
    background-color: var(--primary-03);
}

.bg-primary-04{
    background-color: var(--primary-04);
}

.bg-primary-05{
    background-color: var(--primary-05);
}

.bg-success-01{
    background-color: var(--success-01);
}

.bg-success-02{
    background-color: var(--success-02);
}

.bg-success-03{
    background-color: var(--success-03);
}

.bg-success-04{
    background-color: var(--success-04);
}

.bg-error-01{
    background-color: var(--error-01);
}

.bg-error-02{
    background-color: var(--error-02);
}

.bg-error-03{
    background-color: var(--error-03);
}

.bg-error-04{
    background-color: var(--error-04);
}

.bg-warning-01{
    background-color: var(--warning-01);
}

.bg-warning-02{
    background-color: var(--warning-02);
}

.bg-warning-03{
    background-color: var(--warning-03);
}

.bg-warning-04{
    background-color: var(--warning-04);
}

.bg-information-01{
    background-color: var(--information-01);
}

.bg-information-02{
    background-color: var(--information-02);
}

.bg-information-03{
    background-color: var(--information-03);
}

.bg-information-04{
    background-color: var(--information-04);
}

.min-w-0{
    min-width: 0;
}

.min-w-1px{
    min-width: 1px;
}

.min-w-fit{
    min-width: fit-content;
}

.w-max-content{
    width: max-content;
}

.w-auto{
    width: auto;
}

@media (min-width: 480px) {
    .w-xs-auto{
        width: auto !important;
    }
}

@media (min-width: 768px) {
    .w-md-auto{
        width: auto !important;
    }
}

@media (min-width: 992px) {
    .w-lg-auto{
        width: auto !important
    }
}

@media (min-width: 1200px) {
    .w-xl-auto{
        width: auto !important;
    }
}

.w-100{
    width: 100%;
}

@media (min-width: 480px) {
    .w-xs-100{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .w-md-100{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .w-lg-100{
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .w-xl-100{
        width: 100%;
    }
}

.w-90{
    width: 90%;
}

@media (min-width: 480px) {
    .w-xs-90{
        width: 90%;
    }
}

@media (min-width: 768px) {
    .w-md-90{
        width: 90%;
    }
}

@media (min-width: 992px) {
    .w-lg-90{
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .w-xl-90{
        width: 90%;
    }
}

.w-80{
    width: 80%;
}

@media (min-width: 480px) {
    .w-xs-80{
        width: 80%;
    }
}

@media (min-width: 768px) {
    .w-md-80{
        width: 80%;
    }
}

@media (min-width: 992px) {
    .w-lg-80{
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .w-xl-80{
        width: 80%;
    }
}

.w-70{
    width: 70%;
}

@media (min-width: 480px) {
    .w-xs-70{
        width: 70%;
    }
}

@media (min-width: 768px) {
    .w-md-70{
        width: 70%;
    }
}

@media (min-width: 992px) {
    .w-lg-70{
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .w-xl-70{
        width: 70%;
    }
}

.w-60{
    width: 60%;
}

@media (min-width: 480px) {
    .w-xs-60{
        width: 60%;
    }
}

@media (min-width: 768px) {
    .w-md-60{
        width: 60%;
    }
}

@media (min-width: 992px) {
    .w-lg-60{
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .w-xl-60{
        width: 60%;
    }
}

.w-50{
    width: 50%;
}

@media (min-width: 480px) {
    .w-xs-50{
        width: 50%;
    }
}

@media (min-width: 768px) {
    .w-md-50{
        width: 50%;
    }
}

@media (min-width: 992px) {
    .w-lg-50{
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .w-xl-50{
        width: 50%;
    }
}

.w-8px{
    width: 8px;
}

.w-12px{
    width: 12px;
}

.w-16px{
    width: 16px;
}

.w-20px{
    width: 20px;
}

.w-22px{
    width: 22px;
}

.w-24px{
    width: 24px;
}

.w-27px{
    width: 27px;
}

.w-28px{
    width: 28px;
}

.w-32px{
    width: 32px;
}

.w-36px{
    width: 36px;
}

.w-40px{
    width: 40px;
}

.w-44px{
    width: 44px;
}

.w-48px{
    width: 48px;
}

.w-80px{
    width: 80px;
}

.w-100px{
    width: 100px;
}

.w-120px{
    width: 120px;
}

.w-140px{
    width: 140px;
}

.w-160px{
    width: 160px;
}

.w-180px{
    width: 180px;
}

.w-200px{
    width: 200px;
}

.max-w-180px{
    max-width: 180px;
}

.max-w-190px{
    max-width: 190px;
}

.max-w-200px{
    max-width: 200px;
}

.max-w-210px{
    max-width: 210px;
}

.max-w-220px{
    max-width: 220px;
}

.max-w-230px{
    max-width: 230px;
}

.max-w-240px{
    max-width: 240px;
}

.max-w-250px{
    max-width: 250px;
}

.max-w-260px{
    max-width: 260px;
}

.max-w-300px{
    max-width: 300px;
}

.max-w-600px {
    max-width: 600px;
}

.max-w-1100px{
    max-width: 1100px;
}

.max-w-1200px{
    max-width: 1200px;
}

.max-w-1300px{
    max-width: 1300px;
}

.h-auto{
    height: auto;
}

.h-100{
    height: 100%;
}

@media (min-width: 480px) {
    .h-xs-100{
        height: 100%;
    }
}

@media (min-width: 768px) {
    .h-md-100{
        height: 100%;
    }
}

@media (min-width: 992px) {
    .h-lg-100{
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .h-xl-100{
        height: 100%;
    }
}

.h-90{
    height: 90%;
}

@media (min-width: 480px) {
    .h-xs-90{
        height: 90%;
    }
}

@media (min-width: 768px) {
    .h-md-90{
        height: 90%;
    }
}

@media (min-width: 992px) {
    .h-lg-90{
        height: 90%;
    }
}

@media (min-width: 1200px) {
    .h-xl-90{
        height: 90%;
    }
}

.h-80{
    height: 80%;
}

@media (min-width: 480px) {
    .h-xs-80{
        height: 80%;
    }
}

@media (min-width: 768px) {
    .h-md-80{
        height: 80%;
    }
}

@media (min-width: 992px) {
    .h-lg-80{
        height: 80%;
    }
}

@media (min-width: 1200px) {
    .h-xl-80{
        height: 80%;
    }
}

.h-70{
    height: 70%;
}

@media (min-width: 480px) {
    .h-xs-70{
        height: 70%;
    }
}

@media (min-width: 768px) {
    .h-md-70{
        height: 70%;
    }
}

@media (min-width: 992px) {
    .h-lg-70{
        height: 70%;
    }
}

@media (min-width: 1200px) {
    .h-xl-70{
        height: 70%;
    }
}

.h-60{
    height: 60%;
}

@media (min-width: 480px) {
    .h-xs-60{
        height: 60%;
    }
}

@media (min-width: 768px) {
    .h-md-60{
        height: 60%;
    }
}

@media (min-width: 992px) {
    .h-lg-60{
        height: 60%;
    }
}

@media (min-width: 1200px) {
    .h-xl-60{
        height: 60%;
    }
}

.h-50{
    height: 50%;
}

@media (min-width: 480px) {
    .h-xs-50{
        height: 50%;
    }
}

@media (min-width: 768px) {
    .h-md-50{
        height: 50%;
    }
}

@media (min-width: 992px) {
    .h-lg-50{
        height: 50%;
    }
}

@media (min-width: 1200px) {
    .h-xl-50{
        height: 50%;
    }
}

.h-90vh{
    height: 90vh;
}

.h-100vh{
    height: 100vh;
}

.h-8px{
    height: 8px;
}

.h-12px{
    height: 12px;
}

.h-16px{
    height: 16px;
}

.h-20px{
    height: 20px;
}

.h-24px{
    height: 24px;
}

.h-28px{
    height: 28px;
}

.h-32px{
    height: 32px;
}

.h-36px{
    height: 36px;
}

.h-40px{
    height: 40px;
}

.h-44px{
    height: 44px;
}

.h-48px{
    height: 48px;
}

.h-80px{
    height: 80px;
}

.h-100px{
    height: 100px;
}

.h-120px{
    height: 120px;
}

.h-300px{
    height: 300px;
}

.max-h-100px{
    max-height: 100px;
}

.max-h-200px{
    max-height: 200px;
}

.text-primary-01{
    color: var(--primary-01);
}

.text-primary-02{
    color: var(--primary-02);
}

.text-primary-03{
    color: var(--primary-03);
}

.text-neutral-01{
    color: var(--neutral-01);
}

.text-neutral-02{
    color: var(--neutral-02);
}

.text-neutral-03{
    color: var(--neutral-03);
}

.text-neutral-04{
    color: var(--neutral-04);
}

.text-neutral-05{
    color: var(--neutral-05);
}

.text-neutral-06{
    color: var(--neutral-06);
}

.text-neutral-07{
    color: var(--neutral-07);
}

.text-neutral-08{
    color: var(--neutral-08);
}

.text-neutral-09{
    color: var(--neutral-09);
}

.text-warning-01{
    color: var(--warning-01);
}

.text-warning-02{
    color: var(--warning-02);
}

.text-warning-03{
    color: var(--warning-03);
}

.text-warning-04{
    color: var(--warning-04);
}

.text-error-01{
    color: var(--error-01);
}

.text-error-02{
    color: var(--error-02);
}

.text-success-01{
    color: var(--success-01);
}

.text-success-02{
    color: var(--success-02);
}

.text-information-01{
    color: var(--information-01);
}

.text-information-02{
    color: var(--information-02);
}

.line-height-120{
    line-height: 120%;
}

.fs-8px{
    font-size: 8px;
}
.fs-10px{
    font-size: 10px;
}

.fs-12px{
    font-size: 12px;
}

.fs-14px{
    font-size: 14px;
}

.fs-16px{
    font-size: 16px;
}

@media (min-width: 480px) {
    .fs-xs-16px{
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .fs-md-16px{
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .fs-lg-16px{
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .fs-xl-16px{
        font-size: 16px;
    }
}

.fs-18px{
    font-size: 18px;
}

.fs-20px{
    font-size: 20px;
}

@media (min-width: 480px) {
    .fs-xs-20px{
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .fs-md-20px{
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .fs-lg-20px{
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .fs-xl-20px{
        font-size: 20px;
    }
}

.fs-24px{
    font-size: 24px;
}

@media (min-width: 480px) {
    .fs-xs-24px{
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .fs-md-24px{
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .fs-lg-24px{
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .fs-xl-24px{
        font-size: 24px;
    }
}

.fs-25px{
    font-size: 25px;
}

.fs-28px{
    font-size: 28px;
}

.fs-32px{
    font-size: 32px;
}

@media (min-width: 480px) {
    .fs-xs-32px{
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    .fs-md-32px{
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    .fs-lg-32px{
        font-size: 32px;
    }
}

@media (min-width: 1200px) {
    .fs-xl-32px{
        font-size: 32px;
    }
}

.fs-36px{
    font-size: 36px;
}

.fs-40px{
    font-size: 40px;
}

@media (min-width: 480px) {
    .fs-xs-40px{
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .fs-md-40px{
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .fs-lg-40px{
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    .fs-xl-40px{
        font-size: 40px;
    }
}

.fs-48px{
    font-size: 48px;
}

@media (min-width: 480px) {
    .fs-xs-48px{
        font-size: 48px;
    }
}

@media (min-width: 768px) {
    .fs-md-48px{
        font-size: 48px;
    }
}

@media (min-width: 992px) {
    .fs-lg-48px{
        font-size: 48px;
    }
}

@media (min-width: 1200px) {
    .fs-xl-48px{
        font-size: 48px;
    }
}

.fs-56px{
    font-size: 56px;
}

.fs-64px{
    font-size: 64px;
}

@media (min-width: 480px) {
    .fs-xs-64px{
        font-size: 64px;
    }
}

@media (min-width: 768px) {
    .fs-md-64px{
        font-size: 64px;
    }
}

@media (min-width: 992px) {
    .fs-lg-64px{
        font-size: 64px;
    }
}

@media (min-width: 1200px) {
    .fs-xl-64px{
        font-size: 64px;
    }
}

.fs-72px{
    font-size: 72px;
}

.fs-80px{
    font-size: 80px;
}

.fs-96px{
    font-size: 96px;
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.border, .border-solid{
    border: 1px solid var(--neutral-01);
}

.border-top{
    border-top: 1px solid var(--neutral-01);
}

.border-bottom{
    border-bottom: 1px solid var(--neutral-01);
}

.border-left{
    border-left: 1px solid var(--neutral-01);
}

.border-right{
    border-right: 1px solid var(--neutral-01);
}

.border-dashed{
    border-style: dashed !important;
}

.border-dotted{
    border-style: dotted !important;
}

.border-none{
    border: none !important;
}

.border-1px{
    border-width: 1px;
}

.border-2px{
    border-width: 2px;
}

.border-3px{
    border-width: 3px;
}

.border-4px{
    border-width: 4px;
}

.border-radius-4px{
    border-radius: 4px;
}

.border-radius-8px{
    border-radius: 8px;
}

.border-radius-12px{
    border-radius: 12px;
}

.border-radius-16px{
    border-radius: 16px;
}

.border-radius-50{
    border-radius: 50%;
}

.border-primary-01{
    border-color: var(--primary-01) !important;
}

.border-primary-02{
    border-color: var(--primary-02) !important;
}

.border-primary-03{
    border-color: var(--primary-03) !important;
}

.border-primary-04{
    border-color: var(--primary-04) !important;
}

.border-primary-05{
    border-color: var(--primary-05) !important;
}

.border-neutral-01{
    border-color: var(--neutral-01) !important;
}

.border-neutral-02{
    border-color: var(--neutral-02) !important;
}

.border-neutral-03{
    border-color: var(--neutral-03) !important;
}

.border-neutral-04{
    border-color: var(--neutral-04) !important
}

.border-neutral-05{
    border-color: var(--neutral-05) !important;
}

.border-neutral-06{
    border-color: var(--neutral-06) !important
}

.border-neutral-07{
    border-color: var(--neutral-07) !important;
}

.border-neutral-08{
    border-color: var(--neutral-08) !important;
}

.border-neutral-09{
    border-color: var(--neutral-09) !important
}

.border-success-01{
    border-color: var(--success-01) !important;
}

.border-success-02{
    border-color: var(--success-02) !important;
}

.border-success-03{
    border-color: var(--success-03) !important;
}

.border-success-04{
    border-color: var(--success-04) !important
}

.border-information-01{
    border-color: var(--information-01) !important
}

.border-information-02{
    border-color: var(--information-02) !important;
}

.border-information-03{
    border-color: var(--information-03) !important
}

.border-information-04{
    border-color: var(--information-04) !important;
}

.border-error-01{
    border-color: var(--error-01) !important;
}

.border-error-02{
    border-color: var(--error-02) !important;
}

.border-error-03{
    border-color: var(--error-03) !important;
}

.border-error-04{
    border-color: var(--error-04) !important;
}

.border-warning-01{
    border-color: var(--warning-01) !important;
}

.border-warning-02{
    border-color: var(--warning-02) !important;
}

.border-warning-03{
    border-color: var(--warning-03) !important;
}

.border-warning-04{
    border-color: var(--warning-04) !important;
}

.cursor-pointer{
    cursor: pointer;
}

.icon-video{
    mask-image: url('../img/icon/icon-video.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-film{
    mask-image: url('../img/icon/icon-film.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-sand-clock{
    mask-image: url('../img/icon/icon-sandclock.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-warning {
    mask-image: url('../img/icon/icon-warning.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-trophy{
    mask-image: url('../img/icon/icon-trophy.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-picture{
    mask-image: url('../img/icon/icon-picture.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-drag{
    mask-image: url('../img/icon/icon-drag.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-close{
    mask-image: url('../img/icon/icon-close.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-camera-movie{
    mask-image: url('../img/icon/icon-video.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-clock{
    mask-image: url('../img/icon/icon-time.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-settings{
    mask-image: url('../img/icon/icon-settings.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-right-chevron{
    mask-image: url('../img/icon/icon-rightchevron.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-document{
    mask-image: url('../img/icon/icon-document.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-document-check{
    mask-image: url('../img/icon/icon-documentcheck.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-calendar{
    mask-image: url('../img/icon/icon-calendar.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-location{
    mask-image: url('../img/icon/icon-location.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-link{
    mask-image: url('../img/icon/icon-link.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-line{
    mask-image: url('../img/icon/icon-line.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-live{
    mask-image: url('../img/icon/icon-live.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-external{
    mask-image: url('../img/icon/icon-link.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-archive{
    mask-image: url('../img/icon/icon-send.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-check {
    mask-image: url('../img/icon/icon-check.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-small-check {
    mask-image: url('../img/icon/icon-checksmall.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-user-thick {
    mask-image: url('../img/icon/icon-user.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-users{
    mask-image: url('../img/icon/icon-users.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-bars{
    mask-image: url('../img/icon/icon-bars.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-search {
    mask-image: url('../img/icon/icon-searchthin.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-upload{
    mask-image: url('../img/icon/icon-upload.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-pencil{
    mask-image: url('../img/icon/icon-pencil.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
    cursor: pointer;
}

.icon-star{
    mask-image: url('../img/icon/icon-star.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-tag{
    mask-image: url('../img/icon/icon-tags.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-trash {
    mask-image: url('../img/icon/icon-trash.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-eye{
    mask-image: url('../img/icon/icon-eye.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-eye-off{
    mask-image: url('../img/icon/icon-eyeoff.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-play{
    mask-image: url('../img/icon/icon-play.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-plus{
    mask-image: url('../img/icon/icon-plus.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-grid-decoration-thin{
    mask-image: url('../img/icon/icon-griddecorationthin.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-grid-decoration-thick{
    mask-image: url('../img/icon/icon-griddecorationthick.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-down-arrow{
    mask-image: url('../img/icon/icon-downarrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-right-arrow{
    mask-image: url('../img/icon/icon-rightarrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-left-chevron{
    mask-image: url('../img/icon/icon-leftchevron.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-money{
    mask-image: url('../img/icon/icon-money.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-graduation-cap{
    mask-image: url('../img/icon/icon-graduationcap.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-facebook{
    mask-image: url("../img/icon/icon-facebook.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-instagram{
    mask-image: url("../img/icon/icon-instagram.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-youtube{
    mask-image: url("../img/icon/icon-youtube.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-linkedin{
    mask-image: url("../img/icon/icon-linkedln.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}

.icon-twitter{
    mask-image: url("../img/icon/icon-x.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: all 300ms ease;
}


dialog:focus {
    outline: none;
}

dialog {
    border: none;
    padding: 0;
}

dialog[open] {
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.d-flex-two-columns-responsive {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

@media (min-width: 768px) {
    .d-flex-two-columns-responsive {
        flex-direction: row;
    }
}

.d-flex-two-columns-responsive > * {
    flex: 1;
    min-width: 0;
}

.box-shadow-01{
    box-shadow: var(--shadow-01);
}

.box-shadow-02{
    box-shadow: var(--shadow-02);
}

.p-0{
    padding: 0;
}

.p-1px{
    padding: 1px;
}

.p-2px{
    padding: 2px;
}

.p-4px{
    padding: 4px;
}

.p-8px{
    padding: 8px;
}

.p-12px{
    padding: 12px;
}

.p-16px{
    padding: 16px;
}

.p-16px-force{
    padding: 16px !important;
}

.p-20px{
    padding: 20px;
}

.p-24px{
    padding: 24px;
}

.p-24px-force{
    padding: 24px !important;
}

@media (min-width: 768px) {
    .p-md-24px-force{
        padding: 24px !important;
    }
}

.p-32px{
    padding: 32px;
}

.p-40px{
    padding: 40px;
}

.px-4px{
    padding-left: 4px;
    padding-right: 4px;
}

.px-8px{
    padding-left: 8px;
    padding-right: 8px;
}

.px-12px{
    padding-left: 12px;
    padding-right: 12px;
}

.px-16px{
    padding-left: 16px;
    padding-right: 16px;
}

.px-20px{
    padding-left: 20px;
    padding-right: 20px;
}

.px-24px{
    padding-left: 24px;
    padding-right: 24px;
}

.px-28px{
    padding-left: 28px;
    padding-right: 28px;
}

.px-32px{
    padding-left: 32px;
    padding-right: 32px;
}

@media (min-width: 480px) {
    .px-xs-32px{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 576px) {
    .px-sm-32px{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 768px) {
    .px-md-32px{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 992px) {
    .px-lg-32px{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 1200px) {
    .px-xl-32px{
        padding-left: 32px;
        padding-right: 32px;
    }
}

.px-40px{
    padding-left: 40px;
    padding-right: 40px;
}

.px-48px{
    padding-left: 48px;
    padding-right: 48px;
}

.px-56px{
    padding-left: 56px;
    padding-right: 56px;
}

.px-64px{
    padding-left: 64px;
    padding-right: 64px;
}

@media (min-width: 480px) {
    .px-xs-64px{
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (min-width: 768px) {
    .px-md-64px{
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (min-width: 992px) {
    .px-lg-64px{
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (min-width: 1200px) {
    .px-xl-64px{
        padding-left: 64px;
        padding-right: 64px;
    }
}

.px-72px{
    padding-left: 72px;
    padding-right: 72px;
}

.px-80px{
    padding-left: 80px;
    padding-right: 80px;
}

.px-96px{
    padding-left: 96px;
    padding-right: 96px;
}

.px-112px{
    padding-left: 112px;
    padding-right: 112px;
}

.px-120px{
    padding-left: 120px;
    padding-right: 120px;
}

.px-128px{
    padding-left: 128px;
    padding-right: 128px;
}

.px-144px{
    padding-left: 144px;
    padding-right: 144px;
}

.px-160px{
    padding-left: 160px;
    padding-right: 160px;
}

.px-176px{
    padding-left: 176px;
    padding-right: 176px;
}

.px-180px{
    padding-left: 180px;
    padding-right: 180px;
}

.px-192px{
    padding-left: 192px;
    padding-right: 192px;
}

.py-4px{
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-8px{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12px{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-16px{
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-20px{
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-24px{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-32px{
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-36px{
    padding-top: 36px;
    padding-bottom: 36px;
}

.py-40px{
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-48px{
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-56px{
    padding-top: 56px;
    padding-bottom: 56px;
}

.py-64px{
    padding-top: 64px;
    padding-bottom: 64px;
}

@media (min-width: 480px) {
    .py-xs-64px{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (min-width: 768px) {
    .py-md-64px{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (min-width: 992px) {
    .py-lg-64px{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (min-width: 1200px) {
    .py-xl-64px{
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.py-72px{
    padding-top: 72px;
    padding-bottom: 72px;
}

.py-80px{
    padding-top: 80px;
    padding-bottom: 80px;
}

.py-96px{
    padding-top: 96px;
    padding-bottom: 96px;
}

.py-112px{
    padding-top: 112px;
    padding-bottom: 112px;
}

.py-120px{
    padding-top: 120px;
    padding-bottom: 120px;
}

.py-128px{
    padding-top: 128px;
    padding-bottom: 128px;
}

.py-144px{
    padding-top: 144px;
    padding-bottom: 144px;
}

.py-160px{
    padding-top: 160px;
    padding-bottom: 160px;
}

.py-176px{
    padding-top: 176px;
    padding-bottom: 176px;
}

.py-192px{
    padding-top: 192px;
    padding-bottom: 192px;
}

pt-0{
    padding-top: 0;
}

.pt-4px{
    padding-top: 4px;
}

.pt-8px{
    padding-top: 8px;
}

.pt-12px{
    padding-top: 12px;
}

.pt-16px{
    padding-top: 16px;
}

.pt-20px{
    padding-top: 20px;
}

.pt-24px{
    padding-top: 24px;
}

.pt-32px{
    padding-top: 32px;
}

.pt-40px{
    padding-top: 40px;
}

.pt-48px{
    padding-top: 48px;
}

.pt-56px{
    padding-top: 56px;
}

.pt-64px{
    padding-top: 64px;
}

.pt-72px{
    padding-top: 72px;
}

.pt-80px{
    padding-top: 80px;
}

.pt-96px{
    padding-top: 96px;
}

.pb-0{
    padding-bottom: 0;
}

.pb-4px{
    padding-bottom: 4px;
}

.pb-8px{
    padding-bottom: 8px;
}

.pb-12px{
    padding-bottom: 12px;
}

.pb-16px{
    padding-bottom: 16px;
}

.pb-20px{
    padding-bottom: 20px;
}

.pb-24px{
    padding-bottom: 24px;
}

.pb-32px{
    padding-bottom: 32px;
}

.pb-40px{
    padding-bottom: 40px;
}

.pb-48px{
    padding-bottom: 48px;
}

.pb-56px{
    padding-bottom: 56px;
}

.pb-64px{
    padding-bottom: 64px;
}

.pb-72px{
    padding-bottom: 72px;
}

.pb-80px{
    padding-bottom: 80px;
}

ps-0{
    padding-left: 0;
}

.ps-4px{
    padding-left: 4px;
}

.ps-8px{
    padding-left: 8px;
}

.ps-12px{
    padding-left: 12px;
}

.ps-16px{
    padding-left: 16px;
}

.ps-20px{
    padding-left: 20px;
}

.ps-24px{
    padding-left: 24px;
}

.ps-32px{
    padding-left: 32px;
}

.ps-40px{
    padding-left: 40px;
}

.ps-48px{
    padding-left: 48px;
}

.ps-56px{
    padding-left: 56px;
}

.ps-64px{
    padding-left: 64px;
}

.ps-72px{
    padding-left: 72px;
}

.ps-80px{
    padding-left: 80px;
}

.ps-96px{
    padding-left: 96px;
}

.pe-0{
    padding-right: 0;
}

.pe-4px{
    padding-right: 4px;
}

.pe-8px{
    padding-right: 8px;
}

.pe-12px{
    padding-right: 12px;
}

.pe-16px{
    padding-right: 16px;
}

.pe-20px{
    padding-right: 20px;
}

.pe-24px{
    padding-right: 24px;
}

.pe-32px{
    padding-right: 32px;
}

.pe-40px{
    padding-right: 40px;
}

.pe-48px{
    padding-right: 48px;
}

.pe-56px{
    padding-right: 56px;
}

.pe-64px{
    padding-right: 64px;
}

.pe-72px{
    padding-right: 72px;
}

.pe-80px{
    padding-right: 80px;
}

.pe-96px{
    padding-right: 96px;
}

.m-auto{
    margin: auto;
}

.m-0{
    margin: 0;
}

.m-1px{
    margin: 1px;
}

.m-2px{
    margin: 2px;
}

.m-4px{
    margin: 4px;
}

.m-8px{
    margin: 8px;
}

.m-12px{
    margin: 12px;
}

.m-16px{
    margin: 16px;
}

.m-20px{
    margin: 20px;
}

.m-24px{
    margin: 24px;
}

.m-32px{
    margin: 32px;
}

.m-40px{
    margin: 40px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.mx-4px{
    margin-left: 4px;
    margin-right: 4px;
}

.mx-8px{
    margin-left: 8px;
    margin-right: 8px;
}

.mx-12px{
    margin-left: 12px;
    margin-right: 12px;
}

.mx-16px{
    margin-left: 16px;
    margin-right: 16px;
}

.mx-20px{
    margin-left: 20px;
    margin-right: 20px;
}

.mx-24px{
    margin-left: 24px;
    margin-right: 24px;
}

.my-4px{
    margin-top: 4px;
    margin-bottom: 4px;
}

.my-8px{
    margin-top: 8px;
    margin-bottom: 8px;
}

.my-12px{
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-16px{
    margin-top: 16px;
    margin-bottom: 16px;
}

.my-20px{
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-24px{
    margin-top: 24px;
    margin-bottom: 24px;
}

.my-32px{
    margin-top: 32px;
    margin-bottom: 32px;
}

.my-40px{
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-48px{
    margin-top: 48px;
    margin-bottom: 48px;
}

.mt-0{
    margin-top: 0;
}

.mt-4px{
    margin-top: 4px;
}

.mt-8px{
    margin-top: 8px;
}

.mt-12px{
    margin-top: 12px;
}

.mt-16px{
    margin-top: 16px;
}

.mt-20px{
    margin-top: 20px;
}

.mt-24px{
    margin-top: 24px;
}

.mt-32px{
    margin-top: 32px;
}

.mt-40px{
    margin-top: 40px;
}

.mt-48px{
    margin-top: 48px;
}

.mb-0{
    margin-bottom: 0;
}

.mb-4px{
    margin-bottom: 4px;
}

.mb-8px{
    margin-bottom: 8px;
}

.mb-12px{
    margin-bottom: 12px;
}

.mb-16px{
    margin-bottom: 16px;
}

.mb-20px{
    margin-bottom: 20px;
}

.mb-24px{
    margin-bottom: 24px;
}

.mb-32px{
    margin-bottom: 32px;
}

.mb-40px{
    margin-bottom: 40px;
}

.mb-48px{
    margin-bottom: 48px;
}

.mb-56px{
    margin-bottom: 56px;
}

.mb-64px{
    margin-bottom: 64px;
}

.mb-72px{
    margin-bottom: 72px;
}

.mb-80px{
    margin-bottom: 80px;
}

.ms-0{
    margin-left: 0;
}

.ms-4px{
    margin-left: 4px;
}

.ms-8px{
    margin-left: 8px;
}

.ms-12px{
    margin-left: 12px;
}

.ms-16px{
    margin-left: 16px;
}

.ms-20px{
    margin-left: 20px;
}

.ms-24px{
    margin-left: 24px;
}

.ms-32px{
    margin-left: 32px;
}

.ms-40px{
    margin-left: 40px;
}

.ms-48px{
    margin-left: 48px;
}

.me-0{
    margin-right: 0;
}

.me-4px{
    margin-right: 4px;
}

.me-8px{
    margin-right: 8px;
}

.me-12px{
    margin-right: 12px;
}

.me-16px{
    margin-right: 16px;
}

.me-20px{
    margin-right: 20px;
}

.me-24px{
    margin-right: 24px;
}

.me-32px{
    margin-right: 32px;
}

.me-40px{
    margin-right: 40px;
}

.me-48px{
    margin-right: 48px;
}

.top-50-percent{
    top: 50%;
}

.top-0{
    top: 0;
}

.top-2px{
    top: 2px;
}

.top-4px{
    top: 4px;
}

.top-6px{
    top: 6px;
}

.top-8px{
    top: 8px;
}

.top-10px{
    top: 10px;
}

.top-12px{
    top: 12px;
}

.top-14px{
    top: 14px;
}

.top-16px{
    top: 16px;
}

.top-18px{
    top: 18px;
}

.top-20px{
    top: 20px;
}

.top-22px{
    top: 22px;
}

.top-24px{
    top: 24px;
}

.bottom-0{
    bottom: 0;
}

.bottom-2px{
    bottom: 2px;
}

.bottom-4px{
    bottom: 4px;
}

.bottom-6px{
    bottom: 6px;
}

.bottom-8px{
    bottom: 8px;
}

.bottom-10px{
    bottom: 10px;
}

.bottom-12px{
    bottom: 12px;
}

.bottom-14px{
    bottom: 14px;
}

.bottom-16px{
    bottom: 16px;
}

.bottom-18px{
    bottom: 18px;
}

.bottom-20px{
    bottom: 20px;
}

.bottom-22px{
    bottom: 22px;
}

.bottom-24px{
    bottom: 24px;
}

.bottom-26px{
    bottom: 26px;
}

.bottom-28px{
    bottom: 28px;
}

.bottom-30px{
    bottom: 30px;
}

.bottom-32px{
    bottom: 32px;
}

.bottom-36px{
    bottom: 36px;
}

.bottom-40px{
    bottom: 40px;
}

.bottom-44px{
    bottom: 44px;
}

.bottom-48px{
    bottom: 48px;
}

.bottom-52px{
    bottom: 52px;
}

.bottom-56px{
    bottom: 56px;
}

.bottom-60px{
    bottom: 60px;
}

.bottom-64px{
    bottom: 64px;
}

.bottom-68px{
    bottom: 68px;
}

.bottom-72px{
    bottom: 72px;
}

.left-50-percent{
    left: 50%;
}

.left-0{
    left: 0;
}

.left-2px{
    left: 2px;
}

.left-4px{
    left: 4px;
}

.left-6px{
    left: 6px;
}

.left-8px{
    left: 8px;
}

.left-10px{
    left: 10px;
}

.left-12px{
    left: 12px;
}

.left-14px{
    left: 14px;
}

.left-16px{
    left: 16px;
}

.left-18px{
    left: 18px;
}

.left-20px{
    left: 20px;
}

.left-22px{
    left: 22px;
}

.left-24px{
    left: 24px;
}

.right-0{
    right: 0;
}

.right-2px{
    right: 2px;
}

.right-4px{
    right: 4px;
}

.right-6px{
    right: 6px;
}

.right-8px{
    right: 8px;
}

.right-10px{
    right: 10px;
}

.right-12px{
    right: 12px;
}

.right-14px{
    right: 14px;
}

.right-16px{
    right: 16px;
}

.right-18px{
    right: 18px;
}

.right-20px{
    right: 20px;
}

.right-22px{
    right: 22px;
}

.right-24px{
    right: 24px;
}

.right-26px{
    right: 26px;
}

.right-28px{
    right: 28px;
}

.right-30px{
    right: 30px;
}

.right-32px{
    right: 32px;
}

.right-48px{
    right: 48px;
}

.hover-scale-1-10:hover {
    transform: scale(1.1);
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
[class*="container-sm-to-"],
[class*="container-md-to-"],
[class*="container-lg-to-"]{
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container, .container-sm,
    .container-sm-to-md, .container-sm-to-lg, .container-sm-to-xl, .container-sm-to-xxl {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md,
    .container-sm-to-md, .container-sm-to-lg, .container-sm-to-xl, .container-sm-to-xxl,
    .container-md-to-lg, .container-md-to-xl, .container-md-to-xxl {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg,
    .container-sm-to-lg, .container-sm-to-xl, .container-sm-to-xxl,
    .container-md-to-lg, .container-md-to-xl, .container-md-to-xxl,
    .container-lg-to-xl, .container-lg-to-xxl {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl,
    .container-sm-to-xl, .container-sm-to-xxl,
    .container-md-to-xl, .container-md-to-xxl,
    .container-lg-to-xl, .container-lg-to-xxl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl,
    .container-sm-to-xxl, .container-md-to-xxl, .container-lg-to-xxl {
        max-width: 1320px;
    }
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-y-auto{
    overflow-y: auto;
}

.aspect-ratio-1-1{
    aspect-ratio: 1 / 1;
}

.aspect-ratio-4-3{
    aspect-ratio: 4 / 3;
}

.aspect-ratio-16-9{
    aspect-ratio: 16 / 9;
}

.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}

.z-index-3{
    z-index: 3;
}

.z-index-4{
    z-index: 4;
}

.z-index-5{
    z-index: 5;
}

.opacity-0{
    opacity: 0;
}

.hover-opacity-100:hover {
    opacity: 1;
}

.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.object-fit-cover{
    object-fit: cover;
}

.object-fit-contain{
    object-fit: contain;
}

.transform-center{
    transform: translate(-50%, -50%);
}

.touch-action-pan-y{
    touch-action: pan-y;
}

.scrollbar-style-1{
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-04) transparent;
}
.scrollbar-style-1::-webkit-scrollbar {
    width: 8px;
    display: block;
}
.scrollbar-style-1::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-style-1::-webkit-scrollbar-thumb {
    background-color: var(--neutral-04);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}
.scrollbar-style-1::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-03);
}

.transition-all{
    transition: all 300ms ease;
}

.text-truncate-multiline-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}